/*! _vars.scss  */
/* _vars.scss 112623 090823 121720 */

/** Theme Information
//--------------------------------------------*/
/*
$theme_name: "cwebba";
$theme_uri: "http://craigwebbart.com";
$theme_description: "Theme for Craig Webb Art";
$theme_version: "8.3";
$theme_author: "Craig Webb Art - @cwebba1";
$theme_author_uri: "http://CraigWebbArt.com";
$theme_license: "Copyright 2018, 2020, 2023 Craig Webb Art";
$theme_tags: "handlebars static site";
*/

/* See Cwebba08c Resources for Colors, Gradients & Fonts removed */


