/*! _vars_Color_Library.scss 
SCSS NameSpaced Colors 2018 – 120323 */

// Theme Information
//--------------------------------------------//
$theme_name: "cwebba";
$theme_uri: "#";
$theme_description: "Theme for Craig Webb Art";
$theme_version: "8.0";
$theme_author: "Craig Webb Art - @cwebba1";
$theme_author_uri: "http://CraigWebbArt.com";
$theme_license: "Copyright 2018 Craig Webb Art";
$theme_tags: "handlebars static site";

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$pissed: #61fe48;
$chunky-monkey: #65eb00;
$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;

$b: 1em;




// http://ainsleywagoner.com/color-chart/
// CSS3 Color Chart
// CSS Namespace Colors in Rainbow Order

// Pink & Reds

$mistyrose: #FFE4E1;
$lightpink: #FFB6C1;
$pink: #FFC0CB;
$hotpink: #FF69B4;
$deeppink: #FF1493;
$mediumvioletred: #C71585;
$palevioletred: #DB7093;
$red: #FF0000;
$crimson: #DC143C;
$maroon: #800000;
$darkred: #8B0000;
$brown: #A52A2A;
$firebrick: #B22222;
$indianred: #CD5C5C;
$lightcoral: #F08080;
$salmon: #FA8072;
$tomato: #FF6347;
$coral: #FF7F50;
$darksalmon: #E9967A;
$lightsalmon: #FFA07A;
$peachpuff: #FFDAB9;

// Oranges & Yellows

$orangered: #FF4500;
$darkorange: #FF8C00;
$orange: #FF8C00;
$darkgoldenrod: #B8860B;
$goldenrod: #DAA520;
$khaki: #F0E68C;
$palegoldenrod: #EEE8AA;
$lightgoldenrodyellow: #FAFAD2;
$sandybrown: #F4A460;
$navajowhite: #FFDEAD;
$moccasin: #FFE4B5;
$lemonchiffon: #FFFACD;
$lightyellow: #FFFFE0;
$yellow: #FFFF00;
$gold: #FFD700;

// Greens

$greenyellow: #ADFF2F;
$chartreuse: #7FFF00;
$lawngreen: #7CFC00;
$lime: #00FF00;
$limegreen: #32CD32;
$mediumseagreen: #3CB371;
$seagreen: #2E8B57;
$darkgreen: #006400;
$green: #008000;
$forestgreen: #228B22;
$olivedrab: #6B8E23;
$darkolivegreen: #556B2F;
$olive: #808000;
$yellowgreen: #9ACD32;
$lightgreen: #90EE90;
$palegreen: #98FB98;
$springgreen: #00FF7F;
$mediumspringgreen: #00FA9A;
$mintcream: #F5FFFA;
$aquamarine: #7FFFD4;
$mediumaquamarine: #66CDAA;
$darkseagreen: #8FBC8F;
$honeydew: #F0FFF0;
$darkcyan: #008B8B;
$teal: #008080;
$lightseagreen: #20B2AA;

// Blues

$darkcyan: #008B8B;
$darkturquoise: #00CED1;
$mediumturquoise: #48D1CC;
$turquoise: #40E0D0;
$cyan: #00FFFF;
$aqua: #00FFFF;
$lightcyan: #E0FFFF;
$azure: #F0FFFF;
$aliceblue: #F0F8FF;
$skyblue: #87CEEB;
$lightskyblue: #87CEFA;
$deepskyblue: #00BFFF;
$dodgerblue: #1E90FF;
$blue: #0000FF;
$mediumblue: #0000CD;
$darkblue: #00008B;
$navy: #000080;
$midnightblue: #191970;
$royalblue: #4169E1;
$cornflowerblue: #6495ED;
$steelblue: #4682B4;
$darkslategray: #2F4F4F;
$cadetblue: #5F9EA0;
$lightblue: #ADD8E6;
$paleturquoise: #AFEEEE;
$powderblue: #B0E0E6;
$lightsteelblue: #B0C4DE;
$lavender: #E6E6FA;
$mediumslateblue: #7B68EE;
$slateblue: #6A5ACD;

// Purples & Violets

$blueviolet: #8A2BE2;
$darkviolet: #9400D3;
$darkorchid: #9932CC;
$mediumorchid: #BA55D3;
$orchid: #DA70D6;
$violet: #EE82EE;
$fuchsia: #FF00FF;
$magenta: #FF00FF;
$darkmagenta: #8B008B;
$purple: #800080;
$rebeccapurple: #663399;
$indigo: #4B0082;
$mediumpurple: #9370DB;
$plum: #DDA0DD;
$thistle: #D8BFD8;

// Grays

$gainsboro: #DCDCDC;
$lightgray: #D3D3D3;
$silver: #C0C0C0;
$darkgray: #A9A9A9;
$gray: #808080;
$dimgray: #696969;
$lightslategray: #778899;
$slategray: #708090;
$black: #000000;

// Whites & Beiges

$ghostwhite: #F8F8FF;
$antiquewhite: #FAEBD7;
$beige: #F5F5DC;
$bisque: #FFE4C4;
$blanchedalmond: #FFEBCD;
$ivory: #FFFFF0;
$linen: #FAF0E6;
$oldlace: #FDF5E6;
$papayawhip: #FFEFD5;
$seashell: #FFF5EE;
$snow: #FFFAFA;
$lavenderblush: #FFF0F5;
$white: #FFFFFF;
$whitesmoke: #F5F5F5;

// Browns

$brown: #A52A2A;
$chocolate: #D2691E;
$peru: #CD853F;
$rosybrown: #BC8F8F;
$saddlebrown: #8B4513;
$darkgoldenrod: #B8860B;
$wheat: #F5DEB3;




// Flat Versions of Common HTML Colors:

$flat-navy: #001f3f;
$flat-blue: #0074d9;
$flat-aqua: #7fdbff;
$flat-teal: #39cccc;
$flat-olive: #3d9970;
$flat-green: #2ecc40;
$flat-lime: #01ff70;
$flat-yellow: #ffdc00;
$flat-orange: #ff851b;
$flat-red: #ff4136;
$flat-maroon: #85144b;
$flat-fuchsia: #f012be;
$flat-purple: #b10dc9;
$flat-black: #111111;
$flat-gray: #aaaaaa;
$flat-silver: #dddddd;


// Flat Colors

$green-sea: #16A085;
$emerland: #2ECC71;
$nephritis: #27AE60;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$night-shade: #2C3E50;
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;



// Colours
// All colour variable names should come from http://chir.ag/projects/name-that-color/
$azure:       #2C65AB;
$shamrock:    #2ECC71;
$white:       #FFFFFF;
$graychateau: #9CA1A4;
$tundora:     #404040;
$mystic:      #E9EDF2;
$botticelli:  #CED8E4;
$alto:        #DDDDDD;
$gallery:     #EEEEEE;
$portafino:   #FFFBB8;
$alabaster:   #F8F8F8;

// Network colour variables should be named after their network
// Each name is also the class name to be applied
$network-colors: (
  twitter:    #00ACED,
  youtube:    #CD201F,
  pinterest:  #CB2027,
  github:     #333333,
  dribbble:   #EA4C88,
  instagram:  #517FA4,
  facebook:   #3B5999
);

// https://www.w3schools.com/colors/colors_crayola.asp
// Crayola Colors

$red: #ED0A3F;
$maroon: #C32148;
$scarlet: #FD0E35;
$brick-red: #C62D42;
$english-vermilion: #CC474B;
$madder-lake: #CC3336;
$permanent-geranium-lake: #E12C2C;
$maximum-red: #D92121;
$indian-red: #B94E48;
$orange-red: #FF5349;
$sunset-orange: #FE4C40;
$bittersweet: #FE6F5E;
$dark-venetian-red: #B33B24;
$venetian-red: #CC553D;
$light-venetian-red: #E6735C;
$vivid-tangerine: #FF9980;
$middle-red: #E58E73;
$burnt-orange: #FF7F49;
$red-orange: #FF681F;
$orange: #FF8833;
$macaroni-and-cheese: #FFB97B;
$middle-yellow-red: #ECB176;
$mango-tango: #E77200;
$yellow-orange: #FFAE42;
$maximum-yellow-red: #F2BA49;
$banana-mania: #FBE7B2;
$maize: #F2C649;
$orange-yellow: #F8D568;
$goldenrod: #FCD667;
$dandelion: #FED85D;
$yellow: #FBE870;
$green-yellow: #F1E788;
$middle-yellow: #FFEB00;
$olive-green: #B5B35C;
$spring-green: #ECEBBD;
$maximum-yellow: #FAFA37;
$canary: #FFFF99;
$lemon-yellow: #FFFF9F;
$maximum-green-yellow: #D9E650;
$middle-green-yellow: #ACBF60;
$inchworm: #AFE313;
$light-chrome-green: #BEE64B;
$yellow-green: #C5E17A;
$maximum-green: #5E8C31;
$asparagus: #7BA05B;
$granny-smith-apple: #9DE093;
$fern: #63B76C;
$middle-green: #4D8C57;
$green: #3AA655;
$medium-chrome-green: #6CA67C;
$forest-green: #5FA777;
$sea-green: #93DFB8;
$shamrock: #33CC99;
$mountain-meadow: #1AB385;
$jungle-green: #29AB87;
$caribbean-green: #00CC99;
$tropical-rain-forest: #00755E;
$middle-blue-green: #8DD9CC;
$pine-green: #01786F;
$maximum-blue-green: #30BFBF;
$robins-egg-blue: #00CCCC;
$teal-blue: #008080;
$light-blue: #8FD8D8;
$aquamarine: #95E0E8;
$turquoise-blue: #6CDAE7;
$outer-space: #2D383A;
$sky-blue: #76D7EA;
$middle-blue: #7ED4E6;
$blue-green: #0095B7;
$pacific-blue: #009DC4;
$cerulean: #02A4D3;
$maximum-blue: #47ABCC;
$blue-01: #4997D0;
$cerulean-blue: #339ACC;
$cornflower: #93CCEA;
$green-blue: #2887C8;
$midnight-blue: #00468C;
$navy-blue: #0066CC;
$denim: #1560BD;
$blue-03: #0066FF;
$cadet-blue: #A9B2C3;
$periwinkle: #C3CDE6;
$blue-02: #4570E6;
$wild-blue-yonder: #7A89B8;
$indigo: #4F69C6;
$manatee: #8D90A1;
$cobalt-blue: #8C90C8;
$celestial-blue: #7070CC;
$blue-bell: #9999CC;
$maximum-blue-purple: #ACACE6;
$violet-blue: #766EC8;
$blue-violet: #6456B7;
$ultramarine-blue: #3F26BF;
$middle-blue-purple: #8B72BE;
$purple-heart: #652DC1;
$royal-purple: #6B3FA0;
$violet-02: #8359A3;
$medium-violet: #8F47B3;
$wisteria: #C9A0DC;
$lavender-01: #BF8FCC;
$vivid-violet: #803790;
$maximum-purple: #733380;
$purple-mountains-majesty: #D6AEDD;
$fuchsia: #C154C1;
$pink-flamingo: #FC74FD;
$violet-01: #732E6C;
$brilliant-rose: #E667CE;
$orchid: #E29CD2;
$plum: #8E3179;
$medium-rose: #D96CBE;
$thistle: #EBB0D7;
$mulberry: #C8509B;
$red-violet: #BB3385;
$middle-purple: #D982B5;
$maximum-red-purple: #A63A79;
$jazzberry-jam: #A50B5E;
$eggplant: #614051;
$magenta: #F653A6;
$cerise: #DA3287;
$wild-strawberry: #FF3399;
$lavender-02: #FBAED2;
$cotton-candy: #FFB7D5;
$carnation-pink: #FFA6C9;
$violet-red: #F7468A;
$razzmatazz: #E30B5C;
$pig-pink: #FDD7E4;
$carmine: #E62E6B;
$blush: #DB5079;
$tickle-me-pink: #FC80A5;
$mauvelous: #F091A9;
$salmon: #FF91A4;
$middle-red-purple: #A55353;
$mahogany: #CA3435;
$melon: #FEBAAD;
$pink-sherbert: #F7A38E;
$burnt-sienna: #E97451;
$brown: #AF593E;
$sepia: #9E5B40;
$fuzzy-wuzzy: #87421F;
$beaver: #926F5B;
$tumbleweed: #DEA681;
$raw-sienna: #D27D46;
$van-dyke-brown: #664228;
$tan: #D99A6C;
$desert-sand: #EDC9AF;
$peach: #FFCBA4;
$burnt-umber: #805533;
$apricot: #FDD5B1;
$almond: #EED9C4;
$raw-umber: #665233;
$shadow: #837050;
$raw-sienna-01: #E6BC5C;
$timberwolf: #D9D6CF;
$gold-01: #92926E;
$gold-02: #E6BE8A;
$silver: #C9C0BB;
$copper: #DA8A67;
$antique-brass: #C88A65;
$black: #000000;
$charcoal-gray: #736A62;
$gray: #8B8680;
$blue-gray: #C8C8CD;


//Fluorescent Colors

$radical-red: #FF355E;
$wild-watermelon: #FD5B78;
$outrageous-orange: #FF6037;
$atomic-tangerine: #FF9966;
$neon-carrot: #FF9933;
$sunglow: #FFCC33;
$laser-lemon: #FFFF66;
$electric-lime: #CCFF00;
$screamin-green: #66FF66;
$magic-mint: #AAF0D1;
$blizzard-blue: #50BFE6;
$shocking-pink: #FF6EFF;
$razzle-dazzle-rose: #EE34D2;
$hot-magenta: #FF00CC;


// Bright Colors

$sizzling-red: #FF3855;
$red-salsa: #FD3A4A;
$tart-orange: #FB4D46;
$orange-soda: #FA5B3D;
$bright-yellow: #FFAA1D;
$yellow-sunshine: #FFF700;
$slimy-green: #299617;
$green-lizard: #A7F432;
$denim-blue: #2243B6;
$blue-jeans: #5DADEC;
$plump-purple: #5946B2;
$purple-plum: #9C51B6;
$sweet-brown: #A83731;
$brown-sugar: #AF6E4D;
$eerie-black: #1B1B1B;
$black-shadows: #BFAFB2;
$fiery-rose: #FF5470;
$sizzling-sunrise: #FFDB00;
$heat-wave: #FF7A00;
$lemon-glacier: #FDFF00;
$spring-frost: #87FF2A;
$absolute-zero: #0048BA;
$winter-sky: #FF007C;
$frostbite: #E936A7;


// Metallic Colors

$alloy-orange: #C46210;
$bdazzled-blue: #2E5894;
$big-dip-o-ruby: #9C2542;
$bittersweet-shimmer: #BF4F51;
$blast-off-bronze: #A57164;
$cyber-grape: #58427C;
$deep-space-sparkle: #4A646C;
$gold-fusion: #85754E;
$illuminating-emerald: #319177;
$metallic-seaweed: #0A7E8C;
$metallic-sunburst: #9C7C38;
$razzmic-berry: #8D4E85;
$sheen-green: #8FD400;
$shimmering-blush: #D98695;
$sonic-silver: #757575;
$steel-blue: #0081AB;


// Silver Colors

$aztec-gold: #C39953;
$burnished-brown: #A17A74;
$cerulean-frost: #6D9BC3;
$cinnamon-satin: #CD607E;
$copper-penny: #AD6F69;
$cosmic-cobalt: #2E2D88;
$glossy-grape: #AB92B3;
$granite-gray: #676767;
$green-sheen: #6EAEA1;
$lilac-luster: #AE98AA;
$misty-moss: #BBB477;
$mystic-maroon: #AD4379;
$pearly-purple: #B768A2;
$pewter-blue: #8BA8B7;
$polished-pine: #5DA493;
$quick-silver: #A6A6A6;
$rose-dust: #9E5E6F;
$rusty-red: #DA2C43;
$shadow-blue: #778BA5;
$shiny-shamrock: #5FA778;
$steel-teal: #5F8A8B;
$sugar-plum: #914E75;
$twilight-lavender: #8A496B;
$wintergreen-dream: #56887D;


// Jewelry Stones

$amethyst: #64609A;
$citrine: #933709;
$emerald: #14A989;
$jade: #469A84;
$jasper: #D05340;
$lapis-lazuli: #436CB9;
$malachite: #469496;
$moonstone: #3AA8C1;
$onyx: #353839;
$peridot: #ABAD48;
$pink-pearl: #B07080;
$rose-quartz: #BD559C;
$ruby: #AA4069;
$sapphire: #2D5DA1;
$smokey-topaz: #832A0D;
$tigers-eye: #B56917;


// Fragrance Colors

$baby-powder: #FEFEFA;
$banana: #FFD12A;
$blueberry: #4F86F7;
$bubble-gum: #FFD3F8;
$cedar-chest: #C95A49;
$cherry: #DA2647;
$chocolate: #BD8260;
$coconut: #FEFEFE;
$daffodil: #FFFF31;
$dirt: #9B7653;
$eucalyptus: #44D7A8;
$fresh-air: #A6E7FF;
$grape: #6F2DA8;
$jelly-bean: #DA614E;
$leather-jacket: #253529;
$lemon: #FFFF38;
$licorice: #1A1110;
$lilac: #DB91EF;
$lime: #B2F302;
$lumber: #FFE4CD;
$new-car: #214FC6;
$orange: #FF8866;
$peach: #FFD0B9;
$pine: #45A27D;
$rose: #FF5050;
$shampoo: #FFCFF1;
$smoke: #738276;
$soap: #CEC8EF;
$strawberry: #FC5A8D;
$tulip: #FF878D;


// material design palette
// http://www.google.com/design/spec/style/color.html
// https://codepen.io/DeptofJeffAyer/pen/LkJOqK

$black: #000000;
$white: #FFFFFF;
$gray62: #9E9E9E;
$red57: #FF5722;
$orange38: #795548;
$orange50: #FF9800;
$yellow51: #FFC107;
$yellow62: #FFDB3B;
$green54: #CDDC39;
$green53: #8BC34A;
$green37: #259B24;
$cyan29: #009688;
$cyan42: #00BCD4;
$blue48: #03A9F4;
$blue46: #607D8B;
$blue66: #5677FC;
$blue48: #3F51B5;
$purple47: #673AB7;
$purple36: #9C07B0;
$red52: #E91E63;
$red50: #E51C23;



// material design palette – 
// https://www.materialpalette.com/colors

// RED
$red50: #ffebee;
$red100: #ffcdd2;
$red200: #ef9a9a;
$red300: #e57373;
$red400: #ef5350;
$red500: #f44336;
$red600: #e53935;
$red700: #d32f2f;
$red800: #c62828;
$red900: #b71c1c;
$redA100: #ff8a80;
$redA200: #ff5252;
$redA400: #ff1744;
$redA700: #d50000;

// PINK
$pink50: #fce4ec;
$pink100: #f8bbd0;
$pink200: #f48fb1;
$pink300: #f06292;
$pink400: #ec407a;
$pink500: #e91e63;
$pink600: #d81b60;
$pink700: #c2185b;
$pink800: #ad1457;
$pink900: #880e4f;
$pinkA100: #ff80ab;
$pinkA200: #ff4081;
$pinkA400: #f50057;
$pinkA700: #c51162;

// PURPLE
$purple50: #f3e5f5;
$purple100: #e1bee7;
$purple200: #ce93d8;
$purple300: #ba68c8;
$purple400: #ab47bc;
$purple500: #9c27b0;
$purple600: #8e24aa;
$purple700: #7b1fa2;
$purple800: #6a1b9a;
$purple900: #4a148c;
$purpleA100: #ea80fc;
$purpleA200: #e040fb;
$purpleA400: #d500f9;
$purpleA700: #aa00f;

// DEEP PURPLE
$deep-purple50: #ede7f6;
$deep-purple100: #d1c4e9;
$deep-purple200: #b39ddb;
$deep-purple300: #9575cd;
$deep-purple400: #7e57c2;
$deep-purple500: #673ab7;
$deep-purple600: #5e35b1;
$deep-purple700: #512da8;
$deep-purple800: #4527a0;
$deep-purple900: #311b92;
$deep-purpleA100: #b388ff;
$deep-purpleA200: #7c4dff;
$deep-purpleA400: #651fff;
$deep-purpleA700: #6200ea;

// INDIGO
$indigo50: #e8eaf6;
$indigo100: #c5cae9;
$indigo200: #9fa8da;
$indigo300: #7986cb;
$indigo400: #5c6bc0;
$indigo500: #3f51b5;
$indigo600: #3949ab;
$indigo700: #303f9f;
$indigo800: #283593;
$indigo900: #1a237e;
$indigoA100: #8c9eff;
$indigoA200: #536dfe;
$indigoA400: #3d5afe;
$indigoA700: #304ffe;

// BLUE
$blue50: #e3f2fd;
$blue100: #bbdefb;
$blue200: #90caf9;
$blue300: #64b5f6;
$blue400: #42a5f5;
$blue500: #2196f3;
$blue600: #1e88e5;
$blue700: #1976d2;
$blue800: #1565c0;
$blue900: #0d47a1;
$blueA100: #82b1ff;
$blueA200: #448aff;
$blueA400: #2979ff;
$blueA700: #2962ff;

// LIGHT BLUE
$light-blue50: #e1f5fe;
$light-blue100: #b3e5fc;
$light-blue200: #81d4fa;
$light-blue300: #4fc3f7;
$light-blue400: #29b6f6;
$light-blue500: #03a9f4;
$light-blue600: #039be5;
$light-blue700: #0288d1;
$light-blue800: #0277bd;
$light-blue900: #01579b;
$light-blueA100: #80d8ff;
$light-blueA200: #40c4ff;
$light-blueA400: #00b0ff;
$light-blueA700: #0091ea;

// CYAN
$cyan50: #e0f7fa;
$cyan100: #b2ebf2;
$cyan200: #80deea;
$cyan300: #4dd0e1;
$cyan400: #26c6da;
$cyan500: #00bcd4;
$cyan600: #00acc1;
$cyan700: #0097a7;
$cyan800: #00838f;
$cyan900: #006064;
$cyanA100: #84ffff;
$cyanA200: #18ffff;
$cyanA400: #00e5ff;
$cyanA700: #00b8d4;

// TEAL
$teal50: #e0f2f1;
$teal100: #b2dfdb;
$teal200: #80cbc4;
$teal300: #4db6ac;
$teal400: #26a69a;
$teal500: #009688;
$teal600: #00897b;
$teal700: #00796b;
$teal800: #00695c;
$teal900: #004d40;
$tealA100: #a7ffeb;
$tealA200: #64ffda;
$tealA400: #1de9b6;

// GREEN
$green50: #e8f5e9;
$green100: #c8e6c9;
$green200: #a5d6a7;
$green300: #81c784;
$green400: #66bb6a;
$green500: #4caf50;
$green600: #43a047;
$green700: #388e3c;
$green800: #2e7d32;
$green900: #1b5e20;
$greenA100: #b9f6ca;
$greenA200: #69f0ae;
$greenA400: #00e676;
$greenA700: #00c853;

// LIGHT GREEN
$light-green50: #f1f8e9;
$light-green100: #dcedc8;
$light-green200: #c5e1a5;
$light-green300: #aed581;
$light-green400: #9ccc65;
$light-green500: #8bc34a;
$light-green600: #7cb342;
$light-green700: #689f38;
$light-green800: #558b2f;
$light-green900: #33691e;
$light-greenA100: #ccff90;
$light-greenA200: #b2ff59;
$light-greenA400: #76ff03;
$light-greenA700: #64dd17;

// LIME
$lime50: #f9fbe7;
$lime100: #f0f4c3;
$lime200: #e6ee9c;
$lime300: #dce775;
$lime400: #d4e157;
$lime500: #cddc39;
$lime600: #c0ca33;
$lime700: #afb42b;
$lime800: #9e9d24;
$lime900: #827717;
$limeA100: #f4ff81;
$limeA200: #eeff41;
$limeA400: #c6ff00;
$limeA700: #aeea00;

// YELLOW
$yellow50: #fffde7;
$yellow100: #fff9c4;
$yellow200: #fff59d;
$yellow300: #fff176;
$yellow400: #ffee58;
$yellow500: #ffeb3b;
$yellow600: #fdd835;
$yellow700: #fbc02d;
$yellow800: #f9a825;
$yellow900: #f57f17;
$yellowA100: #ffff8d;
$yellowA200: #ffff00;
$yellowA400: #ffea00;
$yellowA700: #ffd600;

// AMBER
$amber50: #fff8e1;
$amber100: #ffecb3;
$amber200: #ffe082;
$amber300: #ffd54f;
$amber400: #ffca28;
$amber500: #ffc107;
$amber600: #ffb300;
$amber700: #ffa000;
$amber800: #ff8f00;
$amber900: #ff6f00;
$amberA100: #ffe57f;
$amberA200: #ffd740;
$amberA400: #ffc400;
$amberA700: #ffab00;

// ORANGE
$orange50: #fff3e0;
$orange100: #ffe0b2;
$orange200: #ffcc80;
$orange300: #ffb74d;
$orange400: #ffa726;
$orange500: #ff9800;
$orange600: #fb8c00;
$orange700: #f57c00;
$orange800: #ef6c00;
$orange900: #e65100;
$orangeA100: #ffd180;
$orangeA200: #ffab40;
$orangeA400: #ff9100;
$orangeA700: #ff6d00;

// DEEP ORANGE
$deep-orange50: #fbe9e7;
$deep-orange100: #ffccbc;
$deep-orange200: #ffab91;
$deep-orange300: #ff8a65;
$deep-orange400: #ff7043;
$deep-orange500: #ff5722;
$deep-orange600: #f4511e;
$deep-orange700: #e64a19;
$deep-orange800: #d84315;
$deep-orange900: #bf360c;
$deep-orangeA100: #ff9e80;
$deep-orangeA200: #ff6e40;
$deep-orangeA400: #ff3d00;
$deep-orangeA700: #dd2c00;

// BROWN
$brown50: #efebe9;
$brown100: #d7ccc8;
$brown200: #bcaaa4;
$brown300: #a1887f;
$brown400: #8d6e63;
$brown500: #795548;
$brown600: #6d4c41;
$brown700: #5d4037;
$brown800: #4e342e;
$brown900: #3e2723;

// GREY
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey400: #bdbdbd;
$grey500: #9e9e9e;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

// BLUEGREY
$bluegrey50: #eceff1;
$bluegrey100: #cfd8dc;
$bluegrey200: #b0bec5;
$bluegrey300: #90a4ae;
$bluegrey400: #78909c;
$bluegrey500: #607d8b;
$bluegrey600: #546e7a;
$bluegrey700: #455a64;
$bluegrey800: #37474f;
$bluegrey900: #263238;




