/* iframe_pg_02.css */
/* 121720 */
:root {

--bod-ft:'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
--head-ft: 'Ubuntu', Verdana, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Verdana Ref", sans-serif;
--mono-ft: "andale mono", "lucida console", monospace, serif;

/*#241000         // This is the default body text-color.
//HSL 27 100 7 8
//RGB 36 16 0
//hsla(27 100%, 7%, 1);     */
--bdy-brn: rgba(36, 16, 0, 0.99);

/* #6A5A4E		// iframe Header color
// RGB 106 90 78
// HSL 26 15 36 37
// hsla(26 15%, 36%, 1);        */
--iframe-hdr-brn: rgba(106, 90, 78, 0.99);

/* #D4CEC9 <-- Warm grey, close to #CFCFCF, Approx. "450": $gray-450, Convert border to this.
// 25 12 81 81
// 212 206 201      */
--bdr-gry: rgba(212, 206, 201, 0.99);

/* #F4EEEC		// <-- .sock background color
RGB 244 238 236
HSL 20 27 94 94
// hsla(20 27%, 94%, 1);        */
--iframe-gry-sock :rgba(244, 238, 236, 0.99);

}
/* RESETS */
*,:after,:before{box-sizing:border-box;
}

.unborderbox {
  box-sizing: content-box;
}

html { 
height:100%;
text-rendering:optimizeLegibility;
}

body { 
display:flex;
flex-direction:column;
  width:100%;
height:100%;
}

footer, header { 
flex:none;
}

main { 
flex:1 0 auto;
width:100%;
}

main:after { content:'\00a0';
display:block;
margin-top:1.5em;
height:0;
visibility:hidden;
}


/* END STICKY FOOTER*/


html {
 font:sans-serif;
   font-size: 100%;
  background-color: #ECEAE9;
}

body {
  font-family: var(--bod-ft);/*'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif; */
 font: 300 normal 1rem/1.70rem;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: var(--bdy-brn);	/*#241000;*/
  transition: all .5s ease-in;
  background-color: #ECEAE9;
  margin: 0 auto;
}

/* DYNAMIC SCROLLBAR */
 
body {
    overflow-y:scroll;
    overflow-x: auto;
}
body{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 14px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: rgba(234,255,234,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: rgba(197,241,197,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* BASE STYLES */

header {
  width: 100%;
  display: block;
  margin: 1em 0 0.5em;
}

 header:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

main { 
    display: flex;
    flex-direction: column;
  padding: 0 2%;
}

footer { 
	width:100%;
 }
.wide-content {
	align-self: stretch;
 width: 100%;
 margin: 0;
  }

.wide-sidebar {
flex:1 0 auto;
width: 100%;
margin: 1em 0;
padding: 1em;
border-top:1px dashed #666;	/* var(--bdr-gry); is too light*/
}



/* Styles */

p {
  font-family: var(--bod-ft); 
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--bdy-brn);
  margin: 0 0 1em 0;
}

aside p {
  font-size: 0.875em;
}
 aside p:last-of-type {
  margin-bottom: 0.375em;
  font-size: 0.875em;
}

/* Headers */
h1, h2, h3, h4, h5, h6, blockquote {
  font-family: var(--head-ft);
  color:#6A5A4E;
  color: var(--iframe-hdr-brn); /* hsla(26, 15%, 36%, 1); */
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.35em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5;
  margin-top:0;
  margin-bottom: .2em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: .35em;
}

h4 {
  font-size: 1.375em;
  line-height: 1.25em;
  margin-bottom: .35em;
}

h5 { 
  margin-top:0;
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: .35em;
}

h6 {
  font-family: 'open sans';
  color:#6A5A4E;
  color: hsla(26, 15%, 36%, 1);
  font-size: 1em;
  line-height: 1.125em;
  margin-bottom: .125em;
  margin-top: 0;
  font-weight:700;
}

aside h6 {
  font-family:'open sans';
  color:#6A5A4E;
  color: hsla(26, 15%, 36%, 1);
  font-size: 0.9375em;
  line-height:1.125em;
  margin-bottom:.125em;
  margin-top: 0;
  font-weight:700;
}

blockquote {
  color: #241000;
  font-size: 1.125em;
  line-height: 1.375em;
  margin: 0 0 0.5em 0;
  font-style: italic;
}

blockquote.big {
  color: #241000;
  font-size: 1.125em;
  line-height: 1.375em;
  letter-spacing: 0.1em;
  background: rgba(148, 209, 179, 0.3);
  padding: 0.25em 1% 0.375em 2%;
  margin: 1.25em 0 1.375em 0;
}

/* LINKS */
a {
  color: #06C;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  -o-transition: 0.2s color linear;
  -moz-transition: 0.2s color linear;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*csw blue */
a:focus {
  outline: 0;
}

a:hover, a:active {
  outline: none;
}

a:focus, a:hover {
  color: #0099FF;
  text-decoration: underline;
}

a:visited {
  color: #900000;
  text-decoration: none;
}

/* IMAGE MODIFIERS */
/* = MEDIA / IMG Elements 
---------------------------------------------------- */
img {
border: 0;
margin: 0 auto 0 auto;
background:transparent;
vertical-align:baseline;
}

img { -ms-interpolation-mode: bicubic; }

/* You forgot the 'alt' attribute
img[alt=""],
img:not([alt]) {
  border: 5px dashed hotpink;
} */

a img{border:0}

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

figure {
padding:0;
margin:0 0 1em;
font-size:1rem;
}

figcaption {
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  color: #625B5B;
}

figcaption p a { 
  display:inline;
}

figure a, figure img, figure object, figure embed, figure video {
  max-width: 100%;
  width: 100%;
  height: auto;
  display:inline-block;
}

/* line 400, ../sass/base/_base.scss */
figcaption p {
  margin: 0 .5em;
  font-size: 0.8475em;
  line-height: 1.25em;
  color: #625B5B;
  text-align: left;
}

figcaption a { 
color:inherit;
text-decoration:none;
}

figcaption a:hover { 
color:#8c4103;
text-decoration:underline;
}

figure.w250 {
  width: 250px;
  max-width: 250px;
  float: left;
  text-align: left;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 0;
}

.bdr { 
border:1px solid var(--bdr-gry); /*#D4CEC9*/
}

.w250 a {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

nav ul {
  list-style: none;
}

/* line 429, ../sass/base/_base.scss */
nav li {
  display: inline;
}
li ul, li ol {
  margin: 0;
}


b,
strong {
  font-family: inherit;
  font-weight: 600;
}

em, i {
  font-family: inherit;
  font-style: italic;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wrap-text {
  word-wrap: break-word;
  -epub-word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  /* Non standard for webkit */
  overflow-wrap: break-word;
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

span.nowrap {
  white-space: nowrap;
  line-height: inherit;
}

.hyphenate {
  -epub-word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

/* HELPERS */

.pink {
  background-color: #FFCCCC;
}

.pearl {
  background-color: #FCE;
}

.puce {
  background-color: #FEC;
}

.powder {
  background-color: #CFE;
}



/* - – [ iframe Project Page Styles  ] – - */

header p {
  text-align: center;
    margin:0 0 .125em;
    padding:0;
}

header h2 {
  text-align: center;
  margin: 0 auto .25em;
}

.wide-sidebar p {
  font-size: 0.9375em;
    margin:0 0 0.5em 0;
}

.wide-sidebar h6 {
margin-top:0.5em;
}

.columns02 { 
  text-align: top;
    -webkit-column-count: 2;
    -webkit-column-rule: 1px;
    -moz-column-count: 2;
    -moz-column-rule: 1px;
    -ms-column-count: 2;
    -ms-column-rule: 1px;
    column-count: 2;
    column-rule: 1px;
 }

 .columns02 h6:first-child {
  margin-top:0;
 }

div.keeptogether {
  display: inline-block;
  width: 100%;
 }


.bdr5 h4 { 
 display:block; 
 width:100%;
  }

.sock { 
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
background:var(--iframe-gry-sock);		/* #F4EEEC; */
	background-image: url(../assets/images/textures/egg-shell.png);
	background-repeat: repeat;
padding:1rem;
}

.footsie { 
text-align:center; 
font-size:0.75em;
}

.footsie ul { 
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 1.25em;
  margin-bottom: 0;
  list-style: none;
}

.footsie ul li { 
    display: block;
    padding: 0 1rem;
}

.footsie a { 
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.footsie a:hover { 
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.copyright-box { 
}

.copyright {
  font-family: var(--bod-ft);  font-size: 0.6875em;
  color: var(--iframe-hdr-brn);	/*#9A8E89; */
padding:1rem;
}

/* - – [ Media Queries  ] – - */

@media screen and (min-width: 860px), print  { 

main { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
margin:0;
 }

.wide-content {
flex:1 1 85%;
width: 84%;
order:2;
padding: 1em;
margin:0;
}

.wide-sidebar {
flex:0 1 14%;
width: 16%;
order:1;
padding: 1em 0.875em 0;
border:0;
margin:0;
 }

.columns02 {
    -webkit-column-count: 1;
    -webkit-column-rule: 0;
    -moz-column-count: 1;
    -moz-column-rule: 0;
    -ms-column-count: 1;
    -ms-column-rule: 0;
    column-count: 1;
    column-rule: 0;
  }
}



/* 101321 LIGHTBOX II lightbox02.scss */
/* 061216 LIGHTBOX II lightbox02.scss */
/* 032916 LIGHTBOX II lightbox02.css */
/* 032516 LIGHTBOX II lightbox02.css */
/* Preload images */
/* line 5, ../sass/module/_lightbox02.scss */
body:after {
  content: url(../assets/images/lightboximages/close.png) url(../assets/images/lightboximages/loading.gif) url(../assets/images/lightboximages/prev.png) url(../assets/images/lightboximages/next.png);
  display: none;
}

/* line 10, ../sass/module/_lightbox02.scss */
body.lb-disable-scrolling {
  overflow: hidden;
}

body {
  font: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  transition: all 0.5s ease-in;
}

/* line 14, ../sass/module/_lightbox02.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: hsla(26, 15%, 36%, 0.85);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 25, ../sass/module/_lightbox02.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 35, ../sass/module/_lightbox02.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

/* line 42, ../sass/module/_lightbox02.scss */
.lightbox a img {
  border: none;
}

/* line 46, ../sass/module/_lightbox02.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  zoom: 1;
  min-width: 250px;
  min-height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #6A5A4E;
}

/* line 57, ../sass/module/_lightbox02.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/module/_lightbox02.scss */
.lb-container {
  padding: 4px;
}

/* line 67, ../sass/module/_lightbox02.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 77, ../sass/module/_lightbox02.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../assets/images/lightboximages/loading.gif) no-repeat;
}

/* line 85, ../sass/module/_lightbox02.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 94, ../sass/module/_lightbox02.scss */
.lb-container > .nav {
  left: 0;
}

/* line 98, ../sass/module/_lightbox02.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:assets/images/lightboximages/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 103, ../sass/module/_lightbox02.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 109, ../sass/module/_lightbox02.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../assets/images/lightboximages/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 122, ../sass/module/_lightbox02.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 127, ../sass/module/_lightbox02.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../assets/images/lightboximages/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 140, ../sass/module/_lightbox02.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 145, ../sass/module/_lightbox02.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 158, ../sass/module/_lightbox02.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/*ADDED*/
/* line 165, ../sass/module/_lightbox02.scss */
.lb-image, .lb-dataContainer {
  max-width: 100%;
  height: auto !important;
  width: 100%;
}

/* line 171, ../sass/module/_lightbox02.scss */
.lb-outerContainer {
  max-width: auto !important;
  height: auto !important;
}

/*END ADDED*/
/* line 177, ../sass/module/_lightbox02.scss */
.lb-data {
   color: #FFF;
  text-shadow: rgba(70, 60, 52, 1) 2px 2px 3px;
 padding: 0 4px;
}

/* line 182, ../sass/module/_lightbox02.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 189, ../sass/module/_lightbox02.scss */
.lb-data .lb-caption {
  font-family: "Ubuntu", Verdana, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Verdana Ref", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 195, ../sass/module/_lightbox02.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: .875em;
  color: #FFF;
  text-shadow: rgba(70, 60, 52, 1) 2px 2px 3px;
}

/* line 203, ../sass/module/_lightbox02.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../assets/images/lightboximages/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 219, ../sass/module/_lightbox02.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

