/* prototype-theater.css*/
/* 082423 */

main {
    padding: 0 1em;

}

.prototype-parent {
}


.tagline h4 {
    font-size: 1.325em;
    line-height: 1.2em;
    color: rgba(0, 136, 204, 0.99);
    margin: 0 0 0.25em;
}

.tagline p:last-of-type { margin-bottom: 0.5em;
}

.prototype-creative { display:inline-block; vertical-align:top; min-width:32%; margin-right: 1em;
}

.prototype-creative ul { margin-bottom:0.5em;
}

.prototype-development {display:inline-block; vertical-align: top; min-width:60%;
}


blockquote.big {
margin:0.5em 0 1em;
}

.bdr425 {
  border: 1px solid #D4CEC9;
  padding: 0.425em;
}

.fnt400 {
  font-weight: 400;
}


.view-alert { 
  background:rgba(234, 255, 234, 0.5); 
  padding: 0.425em;
  border: 1px solid #D4CEC9;
  border-radius: 0.325em; 
  margin-bottom:0;
}

.view-alert p {
font-weight:400;
font-size:92%; 
margin-bottom:0.5rem;
}

.description {
  border: 1px solid #efefef;
}

#page {
width:100%;
height:75vh;
min-height:600px;
  border: 1px solid #D4CEC9;
  padding: 0;
}

.caption:last-of-type {
  padding: 0 0.25em 0.325em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.375;
}


.headline {
  background: rgba(253, 254, 251, 0.7);
  padding: 0.375em 0.25em 0.325em;
  margin:0;
  line-height:1.1;
}

nav.prototype-list {
  margin: 0.5em 0 0;
}

nav.prototype-list li {
  width: 100%;
  display: block;
  background: transparent;
  padding: 0.375em 0 0.375em 0.5em;
  border-radius: 0.35em;
}

nav.prototype-list li:hover {
  color: #857464;
  background: #EAFFEA;
  background: linear-gradient(0deg, #eaffea 0%, #cfe6cf 100%);
  padding: 0.375em 0 0.375em 0.5em;
}

nav.prototype-list a,
nav.prototype-list a:visited {
  font-size: 0.9375em;
  line-height: 1.375;
  text-decoration: none;
  color: rgba(33, 16, 0, 0.7);
  text-shadow: rgba(134, 117, 101, 0.5) 0 0 1px;
  background: transparent;
  display: block;
  border: 0;
}

.div6 {
margin:0.5em 0 1em;
}

.div1, .divB {padding-top:1em;
  }

/* Media Queries */
@media screen and (min-width: 530px) and (max-width: 920px) {
  nav.prototype-list ul {
    -ms-column-count: 2;
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media screen and (min-width: 920px) {
  nav.prototype-list ul {
    -ms-column-count: 1;
    -moz-column-count: 1;
         column-count: 1;
  }
}


@media only screen and (max-width: 920px) {
}

@media only screen and (min-width: 760px) {
  .columns03 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 630px) and (max-width: 920px){
.div1 { display:inline-block;
 }
.divB { display:inline-block;
 }
.section-header { 
  margin-left:1em;
margin-bottom:0.25em;
}
}

@media (min-width: 920px) {
.section-header { padding-top:1.625em;
}
.prototype-parent {
display: grid;
grid-template-columns: 1fr 78%;
grid-template-rows: auto minmax(min-content, 4.5rem) auto 1fr auto auto;
grid-column-gap: 16px;
grid-row-gap:0;
}

.div1 { grid-area: 1 / 1 / 1 / 2;
 }
.divB { grid-area: 1/ 2 / 1 / 3;
 padding-left:0;
}
.div2 { grid-area: 2 / 1 / 2 / 2;
 }
.div3 { grid-area: 3 / 1 / 4 / 2;
 }
.div4 { grid-area: 2 / 2 / 4 / 3;
 }
.div6 { grid-area: 4 / 2 / 4 / 3;
 }
.div5 { grid-area: 5 / 2 / 5 / 3;
 }
.div7 { grid-area: 6 / 2 / 6 / 3;
 }
.div8 { grid-area: 7 / 1 / 6 / 3;
 }

/*
.div2 { grid-auto-rows:  minmax(min-content, max-content);
}*/
}

#description-box {
}
