
/** _flip_box.scss */
/** 090923 */
/** 051820 */
:root {
--cardShadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);

--written-content: url(../assets/images/gallery/Jack_Kerouac_and_Neal_Cassady.jpg);

--artDirection: url(../assets/images/gallery/Alberto_Giacometti.jpg);

--product: url(../assets/images/gallery/Akira_Kurosawa_with-the_cast_of_Rashomon_1950.jpg);

--frontEnd: url(../assets/images/gallery/Paul_Klee_1925.jpg);

--copyWriting: url(../assets/images/gallery/Sunday_trip.jpg);

--webEngineer: url(../assets/images/gallery/James_Dean.jpg);

--progress: url(../assets/images/gallery/George_Platt_Lynes_1939.jpg);

.written-content { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--written-content);
background-size: cover;
}

.art { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--artDirection);
background-size: cover;
}

.product { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--product);
background-size: cover;
}

.front-end { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--frontEnd);
background-size: cover;
}

.progress { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--progress);
background-size: cover;
}

/* This was never used. --copyWriting is used in Navbox. */
.copy { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--copyWriting);
background-size: cover;
}

.web-engineer { 
box-shadow: inset 0 0 15px rgba(154, 152, 147, 0.5), inset 0 0 20px rgba(191, 187, 176, 0.7), inset 0 35px 35px -18px rgba(221, 217, 208, 0.8);
background:linear-gradient(0deg, rgba(253, 254, 251, 0.2), rgba(253, 254, 251, 0.2)), linear-gradient(0deg, rgba(253, 254, 251, 0.8), rgba(212, 206, 201, 0.7)),
var(--webEngineer);
background-size: cover;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width:100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display:inline-block;
  margin-bottom:1em;
}

/* Global flip card styles */
.flip-card ul { 
  list-style: none;
  line-height:1.2;
}

.flip-card li { 
  padding-left: 1em;
  text-indent: -.75em;
  margin: 0 0 .5em;
  font-weight:500;
}

.flip-card li:before { 
  content: "» ";
  color: #A92323;
}

.front-art { 
  max-width:100%;
  height:100%;
  display:flex;
  text-align:left;
  border: 1px solid #f1f1f1;
}

.box-left { 
flex: 1 2 45%;
}

.box-right { 
  flex: 2 1 55%;
  max-width:18em;
  padding:1em 0 1em 1em;
  line-height: 1.2;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(212, 206, 201, 0.3);
/*    transform: rotateY(180deg); */
}

.flip-card-back div {
min-height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back div p {
  font-weight:500;
  text-align:left;
  width: 80%;
  align-self: center;
  margin: 10% 0;
}

@media only screen and (min-width: 756px) {
  .flip-card {
  height: 256px;
  width:49.5%;
}

/* This container is needed to position the front and back side */
  .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
  .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateX(0deg);  /* Mozilla */
}

/*Style the front side (fallback if image is missing)
  .flip-card-front {
  background-color: #bbb;
  color: black;
} */

.flip-card-back {
  transform: rotateY(180deg);
  }
}

@media only screen and (min-width: 900px) {
.flip-card-back div p {
  width: 60%;
  transition:width 2s ease-in; 
  }
}
