/** –base.scss 090923 */
/*! –base.scss 071220 */
/* RESETS */
/* This Normalize Reset conflicts with Fancybox.
html {
    overflow: scroll;
}*/

/*!  ============  [    Base ]   ============= */

.unborderbox { box-sizing: content-box;
}

body, nav, ul, li, a  {
  margin: 0; padding: 0;
}


body {
font-size:100%;
font-family:$bod-ft;
font-weight:300;
line-height: 1.5;
	transition:all .5s ease-in; 
color:hsla(27, 100%, 7%, 1);
background:$old-yeller;
 background:url('../assets/images/oj_emboss.png');
text-shadow:rgba(0,0,0,0.01) 0 0 1px;
}

.basal {
  width: 97.5%;
  margin: 0 auto;
  padding: 0;
  display:flex;
  flex-direction:column;
  height:100%;
  background:rgba(253, 254, 251, 0.8);
  transition:width .25s ease-in; 
}

.cask {
padding-left: 1.375em;
padding-right: 1.375em;
}

.nest {
  display: block;
  margin: 0px, auto;
}

/* MUST add width */
/* line 113, sass/base/_base.scss */
.nest:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}

.inline {display:inline;}
.block {display:block;}
.in-block {display:inline-block;
  vertical-align:top;
}
.relative {position: relative;}



/* formatting of elements */

/* TYPOGRAPHY */

/* 082816 NOTE: - LOAD FONTS VIA STYLE LINK */
p {
font: 1em  $bod-ft;
font-weight:300;
line-height: 1.5;
color:hsla(27, 100%, 7%, 1);
margin: 0 0 .5em 0;
}

p:last-of-type { 
margin-bottom:1.5em;
}

p.no-margin { 
  margin:0;
  }

/*
3/16 = 0.1875
0.375
9/16 = 0.5625
10/16 = 0.625
11/16 = 0.6875
12/16 = 0.75
13/16 = 0.8125
14/16 = 0.875
15/16 = 0.9375
6/16 = 0.375
18/16 = 1.125
19/16 = 1.1875
20/16 = 1.25
*/

.p6 { font-size:0.375em;
line-height:1em;
}

.p8 { font-size:0.5em;
line-height:1em;
}

.p9 {font-size:.5625em;
line-height: 1.5em;
margin: 0 0 2.15em 0;
}/*  18px*/

.p10 {font-size:.625em;
line-height: 1.5em;
margin: 0 0 1.75em 0;
}/*  .625em  */

.p11 {font-size:.6875em;
line-height: 1.5em;
margin: 0 0 1.375em 0;
}

.p12 {font-size:.75em;
line-height: 1.5em;
margin: .75em 0 .75em 0;
}

.p13 {font-size:.8125em;
line-height: 1.6875em;
margin: 0.65625em 0 0.65625em 0;
}/* 12.5px margin */

.p14 {font-size:.875em;
line-height: 1.5em;
margin: .625em 0 1em 0;
}/* .125em+1.5em  */

.p14b {font-size:.875em;
line-height: 1.5em;
margin: 0;
}/*  0.6875em  */

.p15 {font-size:.9375em;
line-height: 1.5em;
margin: 0 0 0.625em 0;
}

.p18 {font-size:1.125em;
line-height: 1.375em;
margin: 0 0 0.458333333333333em 0;
}

.p19 {font-size:1.1875em;
line-height: 1.1875em;
margin: 0 0 0.625em 0;
}

.p20 {font-size:1.25em;
line-height: 1.25em;
margin: 0 0 0.416666666666667em 0;
}

.p24 {font-size:1.5em;
line-height: 2.25em;
margin: .25em 0 1.5em 0;
float:right;
text-align:right;
}

/* LINKS */

a { 
  color: $midnight-blue;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  vertical-align:baseline; 
  margin:0; 
  padding:0; 
  border: 0;
  outline: 0;
  background:transparent; 
  -o-transition: 0.2s color linear;
  -moz-transition: 0.2s color linear;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
  word-wrap: break-word;
  overflow-wrap: break-word;
}/*csw blue */

a:focus { outline: 0; }

a:hover, a:active { outline: none; }

a:focus, a:hover { color: $royal-blu;
text-decoration: underline; 
}

a:visited {color:$visitation-blu;
text-decoration: none;
}

a:active { 
  color:$redskin; 
  text-decoration: underline; 
}

a.contact {
  color:$pumpkin;
  text-decoration: none;
}

a.contact:hover {
  color :$orange-lt;
  text-decoration: underline;
}

.credit {font-family: $bod-ft;
font-weight:400;
font-size:.675em;
line-height:.75em;
}

.credit a {color: $blu-moon;
  text-decoration: none;
  -o-transition: 0.2s color linear;
  -moz-transition: 0.2s color linear;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.credit a:focus { outline: thin dotted; }

.credit a:focus, a:hover {color: $royal-blu;
text-decoration: underline; 
}

.credit a:visited {color: #900000;
text-decoration: none;
}

a.cutine { color:$visitation-blu;
margin: 0 0 .5em 0;
font-family: $bod-ft;
font-weight:400;
font-size: 12px;
line-height: 1.4em;
font-style:italic;
text-decoration: none; }

a.cutine:hover { color:$visitation-blu;
text-decoration: underline; }

a.cutine:visited {color: #0066CC;
text-decoration: underline;
}/*Royal blue */

p a, p a:visited { line-height: inherit; }

a img, img { border: none; }
a img {display: block;} /* Stops image links getting text link styles */

a.menu {
font-family: $head-ft;
font-size:.875em;
font-weight: 300;
line-height : 1.625em;
color:$visitation-blu;
text-decoration: none;
}

a.menu:hover {
	font-family: $head-ft;
	color :$daylight-blu;
	text-decoration: underline;
text-decoration-thickness: 10%;
}

/* Headers */

h1, h2, h3, h4, h5, h6,  blockquote {font-family:$head-ft;
  color: $hdr-brn;    //#8c4103;
  font-weight: 300;
letter-spacing: 0.0625em;
}

h1 { 
  font-size: 2em;
  font-weight: 300;
  line-height:1.25em;
  letter-spacing: 1px;
  margin-bottom:0.5em;
}

h2 { 
  font-size: 1.75em;
  font-weight:300;
  line-height:1.25em;
  letter-spacing: 0.0625em;
  margin-bottom:0.5em;
}

h3 { 
  font-size: 1.5em;
  font-weight: 300;
  line-height:1.25em;
  letter-spacing: 0.0875em;
  margin-bottom:0.5em;
}

h4 { 
  font-size: 1.25em;
  font-weight: 300;
  line-height:1.25em;
  letter-spacing: 0.0625em;
  margin-bottom:0.25em;
}

h5 {   
  font-size: 1em;
  font-weight: 500;
  line-height:1.25em;
  letter-spacing: 0.0625em;
  margin-bottom:0.125em;
 }

h6 { 
  font-size: 1em;
  font-weight: 500;
  line-height:1.25em;
  letter-spacing: 0.0625em;
  margin-bottom:0;
  color:#000; 
}

blockquote {
color:hsla(27, 100%, 7%, 1);
font-size:1.125em;
line-height: 1.375em;
margin: 0 0 0.5em 0;
font-style:italic;
}

blockquote.big {
color:hsla(27, 100%, 7%, 1);
font-size:1.125em;
line-height: 1.375em;
letter-spacing: 0.1em;
background:hsla(150, 40%, 70%, .3);
padding:0.25em 1% 0.375em 2%;
margin: 1.25em 0 1.375em 0;
}

aside, article, #leftnav, blockquote.big {
     -moz-border-radius: .375em;
     -webkit-border-radius: .375em;
border-radius: .375em;
}



/* = MEDIA / IMG Elements 
---------------------------------------------------- */
img {
border: 0;
margin: 0 auto 0 auto;
background:transparent;
vertical-align:baseline;
}

svg:not(:root) {
    overflow: hidden;
}

img { -ms-interpolation-mode: bicubic; }

/* You forgot the 'alt' attribute
img[alt=""],
img:not([alt]) {
  border: 5px dashed hotpink;
} */



/* IMAGE MODIFIERS */

.rnd {
border: 0;
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
}

.rnd3 {
border: 0;-webkit-border-radius: .3em;
-moz-border-radius: .3em;
border-radius: .3em;
}

.border {
	border-style: solid;
	border-color: #DDD;
border-width: 1px;
}

.centered{
display: block;
margin-left: auto; margin-right: auto;
}


a img{border:0}

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

svg:not(:root) {overflow: hidden} /* Correct IE9 overflow */

/* example:
img {
  max-width:240px;
  width:100%
} */

figure {
padding:0;
margin:0 0 1em;
font-size:1rem;
}

figcaption { 
  margin:.125em 0 0.5em; 
  font-size:.8125em; 
  line-height:1em; 
  color: #333333;
}
figcaption p { 
  margin:0; 
  font-size:1em; 
  line-height:1.25em; 
  color: #333333;
  text-align:left;
}

figcaption p:last-of-type { 
  margin:0; 
}

figure.w250 {
float:left;
text-align:left;
margin-bottom:1em;
padding:0;
}

figure.w200 { 
float:left;
text-align:left;
margin-bottom:1em;
padding:0;
}

figure.w150 { 
float:left;
text-align:left;
margin-bottom:1em;
padding:0;
}

.w150 a,
.w200 a,
.w250 a { margin:0;
}

.endpara {
margin-bottom:1.5em;
}


/* = LISTS 
---------------------------------------------------- */

ul { list-style:initial; }

/* eliminate this reset
ol,ul{ list-style:none;}
*/

nav ul{
  list-style:none; }

/* This may conflict with flexbox styles (?)*/
nav li{
  display:inline;
}

li ul, li ol {margin:0;}
dl dd {margin-left: 1.5em}

ul li {
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
page-break-inside: avoid;
break-inside: avoid;
}

ul.example {
  list-style: none;
  line-height:inherit;
  padding:0;
}
 
.example li { 
  padding-left: 1em; 
  text-indent: -.75em;
  margin:0 0 .5em;
}
 
.example li:before {
  content: "» ";
  color: #A92323; /* or whatever color you prefer */
}/* Â» RIGHT-POINTING DOUBLE ANGLE QUOTATION MARK &#187; */


ul.dash,
ul.mdash,
ul.bullet,
ul.triangle,
ul.angle {
  list-style: none;
  list-style-position: inside;
  font-size:inherit;
  line-height:inherit;
  margin-left:0;
  padding-left:0;
  padding-left: 1.5em; 
  text-indent: -1.5em;
}

ul.angle {
  padding-left: 1em; 
  text-indent: -1em;
  line-height:1.25em;
}
 
.dash li,
.mdash li,
.bullet li,
.triangle li,
.angle li { 
  margin:0 0 .5em;
}

.dash li:before {
  content: "\2013\00a0\020";
  color: #A92323; /* or whatever color you prefer */
}

.mdash li:before {
  content: "\2014\020";
  color: #A92323; /* or whatever color you prefer */
}

.bullet li:before {
  content: "\2022\00a0\020";
  color: #A92323; /* or whatever color you prefer */
}/* â€¢ */

.triangle li:before {
  content: "\2023\00a0\020";
  color: #A92323; /* or whatever color you prefer */
}/* â€£ */

.angle li:before {
  content: "\00bb\00a0\020";
  color: #A92323; /* or whatever color you prefer */
}/* Â» */


/* ==============================
   Forms Normalize Reset
   ============================ */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button { 
  @include inlineflexCenter();
  @include btnFont();
  transition: 0.2s color linear;
  border-color:inherit;
  border-radius: 0.25rem;
  cursor: pointer;
 }

/* Inline-flex button with added styles: */
.btn-grn {
  color: var(--golf-green);
  background: #EAFFEA; /* Old browsers */
  background: map-get($gradients, grn);
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;  /* may want to add Cwebba08b color */
  border-color:var(--brd-gry);
}

.btn-grn:hover {
  background: #DAEBDA; /* Old browsers */
  background: map-get($gradients, grnlite02);
}
/* These are BS4 Declarations */
.btn-grn:hover,
.btn-grn:focus { 
  color: var(--redskin);
  text-decoration: none;
  text-shadow:rgba(234, 255, 234, 0.99) -1px -1px 1px;
  outline: 0;
  border-color: var(--old-grass);
/*  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); I don't want this */
}

.btn-grn:focus { 
  box-shadow: 0 0 4px var(--wasabi);
  border: 1px solid var(--old-grass);
}

a.btn-grn { 
  @include inlineflexCenter();
  @include btnFont();
  text-decoration:none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;  
  transition: 0.2s color linear;
  cursor: pointer;
  }

::-webkit-input-placeholder,
::input-placeholder,
::placeholder {
  font-family: Georgia, 'Taviraj', "Times New Roman", Times, serif;
  font-style:italic;
  font-size:.8125em;
  color: rgba(36, 16, 0, 0.5);
  opacity: 0.8; /* Firefox */
}

/*! Grey Button Colors: */

.btn-gry {
  color: #443322;
  color: var(--chocolate-brn);
  text-shadow: 1px 1px 1px rgba(212, 206, 201, 0.5);  /*[--bdr-gry]*/
  padding: 0.375rem 0.75rem;
  background: #f7f7f7;
  background: map-get($gradients, gra);
  border: 1px solid rgba(223, 222, 221, 0.5);;
}
.btn-gry:hover {
  background: #f7f7f7;
  background: map-get($gradients, gra02);
}

.btn-gry:hover,
.btn-gry:focus { 
  color: var(--redskin);
  text-shadow:rgba(212, 206, 201, 0.99) -1px -1px 1px; /*[--bdr-gry]*/
  border-color: var(--brd-gry);
}
.btn-gry:focus { 
  border: 1px solid calc (var(--tan-txt) / 2);
  box-shadow: 0 0 5px var(--bdr-gry);
}
/* ======= [ END NORMALIZE RESETS ]  =========== */



