{{!-- pages/advertising-and-marketing.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Advertising & Marketing" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art provides creative consulting services including content development, website engineering and product development. Our focus is to create your brand presence."
  meta-keywords="Content Development, Digital Design, Front-end Development, Website Engineering, Graphic Design, Copywriting"
  meta-social-content="Craig Webb Art Services"
  meta-url="http://craigwebbart.com/services.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/heropics/wrc06127.jpg"
  og-image-alt="Team Panorama"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
{{#> head-block}}
{{> includes/head }}
{{/head-block}}

{{!--   The `includes/header` partial is here.  --}}
{{#*inline "rail-block"}}
{{> includes/rail
  rail-src="assets/images/navpics/wave.jpg"
  rail-alt="(917) 797&middot;0983"
}}
{{/inline}}

{{!-- MAIN CONTENT --}}

{{!-- Let's change the hero image for this layout. --}}
{{#*inline "hero-block"}}
{{> includes/hero
  hero-class="herobox"
  hero-src="assets/images/heropics/Tigers-and-Dragon-by-Kano-Sanraku-17th-century.jpeg"
  hero-alt="Historic Football Photograph Hero Picture"
  fig-caption=""
}}
{{/inline}}

{{!-- Let's change the content for this layout. --}}
{{#*inline "content-block"}}


<!-- - - - - - - - [ START Advertising &amp; Marketing HERE  ] - - - - - - - - --> 

<h2>Advertising &amp; Marketing</h2>

<p><strong>Craig Webb Art</strong> provides communications design including advertising, promotional marketing and brand identity.</p>

<p>Design services include research, creative concept development, copywriting and graphic design for print advertising and web marketing communications.</p>
<hr class="dash" />  

<div class="flexbox-wrapper">


<div class="bitty-titty-block bdr">
<figure><img src="assets/images/advertising/01AvedaFab.jpg" alt="Aveda Fabulous">
<figcaption><p>Aveda Fabulous.</p></figcaption>
</figure>
<div>
<h4>Aveda</h4>
<p><b>Who am I to be fabulous?
</b></p>
<p>Giving yourself permission to be the best, most fabulous person you can be is the most wonderful gift you can give the world.</p>
<p><a href="assets/pdf.AvedaFabulous.pdf" target="_blank" rel=”noopener”>PDF</a></p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img src="assets/images/advertising/02AvedaVital.jpg" alt="Aveda Vital">
<figcaption><p>Aveda Vital.</p></figcaption>
</figure>
<div>
<h4>Aveda</h4>
<p><b>Who am I to be vital?
</b></p>
<p>Attacking life begins with letting your light shine.
Give yourself confidence.
</p>
<p><a href="assets/pdf/AvedaVital.pdf" target="_blank" rel=”noopener”>PDF</a></p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img src="assets/images/advertising/06AvedaLead.jpg" alt="Aveda Lead">
<figcaption><p>Aveda Lead.</p></figcaption>
</figure>
<div>
<h4>Aveda</h4>
<p><b>Who am I to lead?
</b></p>
<p>When you feel good about yourself people just naturally follow.</p>

  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/sltd_burlington.jpg" alt="Steibel ltd. Fine Art ad">
<figcaption><p>Steibel ltd. Burlington magazine advertisment.</p></figcaption>
</figure>
<div>
<h4>Steibel ltd. Old Masterpieces</h4>
<p><b>Come to the house and see an old master.
</b></p>
<p>Steibel ltd. Burlington magazine advertisment.</p>
  </div>
</div>


<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/sltd_artauction.jpg" alt="Steibel ltd. Art and Auction magazine ad">
<figcaption><p>Steibel ltd. Art and Auction magazine advertisment.</p></figcaption>
</figure>
<div>
<h4>Steibel ltd. Old Masterpieces</h4>
<p><b>Come to the house and see an old master.
</b></p>
<p>Steibel ltd. Art and Auction magazine advertisment.</p>
  </div>
</div>


<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/sltd_apollo.jpg" alt="Steibel ltd. Apollo magazine ad">
<figcaption><p>Steibel ltd. Apollo magazine advertisment.</p></figcaption>
</figure>
<div>
<h4>Steibel ltd. Old Masterpieces</h4>
<p><b>Come to the house and see an old master.
</b></p>
<p>Steibel ltd. Apollo magazine advertisment.</p>
  </div>
</div>



<div class="sexy-block-720 bdr">
<h4>MightyMap Mailer</h4>
<figure><img loading="lazy" src="assets/images/copywriting_portfolio/mm_chgthink_1.jpg" alt="MightyMap Mailer">
<figcaption><p>MightyMap Mailer.</p></figcaption>
</figure>
<div>
<p><b><h4>MightyMap &ndash; Change the way you think.</h4>
.
</b></p>
<p>MightyMap&rsquo;s desktop software displays real estate data on a map of New York City&rsquo;s five boroughs. Data includes recent purchase prices of nearby properties, zoning codes, and bank defaults, among many.</p>
<p>MightyMap uses NYC government data as a resource and presents data in an easy-to-grasp map.</p>
  </div>
</div>


<div class="sexy-block-720 bdr">
<h4>MightyMap Mailer</h4>
<figure><img loading="lazy" src="assets/images/copywriting_portfolio/mm_join_mailer_pg1.jpg" alt="MightyMap Mailer">
<figcaption><p>MightyMap mailer.</p></figcaption>
</figure>
<div>
<p><b>MightyMap&rsquo;s new real estate mapping service.
</b></p>
<p>Craig Webb Art created mailers and magazine advertising for MightyMap.</p>
  </div>
</div>


<div class="bitty-titty-block bdr">
<h4>MightyMap Real Deal ad</h4>
<figure><img loading="lazy" src="assets/images/advertising/mm_rd4-625x8.jpg" alt="MightyMap Real Deal ad">
<figcaption><p>MightyMap Real Deal advertisment.</p></figcaption>
</figure>
<div>
<p><b>MightyMap &ndash; Real Deal advertisment.</b></p>
<p>MightyMap Real Deal advertisment.</p>
  </div>
</div>


<div class="sexy-block-720 bdr">
<h4>MightyMap magazine ad</h4>
<figure><img loading="lazy" src="assets/images/advertising/mm_rental_mailerpg1.jpg" alt="MightyMap Mailer">
<figcaption><p>MightyMap Mailer.</p></figcaption>
</figure>
<div>
<p><b>Prime Real estate opportunity.
</b></p>
<p>Craig Webb Art created mailers, magazine and newspaer advertising for MightyMap.</p>
  </div>
</div>




<div class="sexy-block-720 bdr">
<figure><img loading="lazy" src="assets/images/advertising/Bill_Miller_Lives_cropped.png" alt="Bill Miller Lives">
<figcaption><p>Bill Miller Lives.</p></figcaption>
</figure>
<div>
<h4>Bill Miller Lives</h4>
<p><b>Bill Miller is alive and working in New Your City.
</b></p>
<p>Email advertisment for Bill Miller Photography.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/zab_passover.jpg" alt="Zabar's Passover">
<figcaption><p>Zabar&rsquo;s Passover.</p></figcaption>
</figure>
<div>
<h4>Zabar&rsquo;s Passover</h4>
<p><b>The shortest distance between you and a home-cooked holiday meal.
</b></p>
<p>Newspaper advertisment for the New York Times Wednesday Food Section.</p>
<p>Zabar&rsquo;s loved this ad. This ad won the account for me. I made weekly ads for Zabarr&rsquo;s published in The New York Times for a year and a half.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/zab_bread.gif" alt="Zabarr&rsquo;s Bread">
<figcaption><p>Zabar&rsquo;s Bread.</p></figcaption>
</figure>
<div>
<h4>Zabar&rsquo;s Bread</h4>
<p><b>Every bread is a world of perfection.
</b></p>
<p>I wrote the headline and the body copy for this ad and others. I also created the artwork for this ad using a special technique to print the art.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/zab_coffee.gif" alt="Zabarr&rsquo;s Coffee">
<figcaption><p>Get Your Coffee.</p></figcaption>
</figure>
<div>
<h4>Get Your Coffee</h4>
<p>I created the art for this ad. I incorporated the Zabar&rsquo;s logo into the art and so the art became the ad.</p>
<p>Zabar&rsquo;s told me that the day we published this ad they sold out of coffee.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/zab_gefilte.gif" alt="ALT TAG">
<figcaption><p>Zabar&rsquo;s Gefilte Fish.</p></figcaption>
</figure>
<div>
<h4>Zabar&rsquo;s Gefilte Fish</h4>
<p><b>Traditional Holiday Treats!
</b></p>
<p>Gefilte Fish is an important seasonal dish. How to portray it? When I came in to show this ad my Zabar&rsquo;s manager contacts looked at it agape and then burst into laughter.</p>

  </div>
</div>

<div class="bitty-titty-block bdr-bottom-dash">
<figure><img loading="lazy" src="assets/images/copywriting_portfolio/01md_plans.jpg" alt="Max Delivery &ndash; Plans change fast ">
<figcaption><p>Plans change fast.</p></figcaption>
</figure>
<div>
  <h4>Plans change fast</h4>
  <p></p>
</div>
</div><!-- END big-block -->

<div class="bitty-titty-block bdr-bottom-dash">
<figure><img loading="lazy" src="assets/images/copywriting_portfolio/02md_thinkfast.jpg" alt="Max Delivery &ndash; Think fast">
<figcaption><p>Think fast.</p></figcaption>
</figure>
<div>
  <h4>Think fast</h4>
  <p></p>
</div>
</div><!-- END big-block -->


<div class="bitty-titty-block bdr-bottom-dash">
<figure><img loading="lazy" src="assets/images/copywriting_portfolio/05md_getit.jpg" alt="Max Delivery &ndash; Don't get it">
<figcaption><p>You just don't get it.</p></figcaption>
</figure>
<div>
  <h4>You just don't get it</h4>
  <p></p>
</div>
</div><!-- END big-block -->



<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/websites/TasteTropics_Home_RumRaisin.jpg" alt="Taste the Tropics Rum Raisin">
<figcaption><p>Taste the Tropics Rum Raisin.</p></figcaption>
</figure>
<div>
<h4>Taste the Tropics Rum Raisin</h4>
<p>This is the website design for a new branding and packaging release for Taste the Tropics ice cream.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/2037HIAcal-AnC-7.75x10.5.jpg" alt="HIA Crafts March Fun">
<figcaption><p>HIA Crafts March Fun.</p></figcaption>
</figure>
<div>
<h4>HIA Crafts</h4>
<p><b>March Fun
</b></p>
<p>This ad was hard to produce. Can you guess how I did it?</p>
  </div>
</div>

<div class="big-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/A5232-PugentSndInterTugnSal.jpg" alt="Crowley Shipping">
<figcaption><p>Crowley Shipping, Puget Sound.</p></figcaption>
</figure>
<div>
<h4>Crowley</h4>
<p><b>Worldwide Logistics, Government, Marine and Energy Solutions.
</b></p>
<p>Crowley bought business to business advertising for industry magazines.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/AM_Intro2Rewards.jpg" alt="Rewards Payment System">
<figcaption><p>Rewards Payment System.</p></figcaption>
</figure>
<div>
<h4>Rewards Payment System</h4>
<p><b>Intro to Rewards.
</b></p>
<p>Rewards Payment System sells credit card payment services to sellers. The rewards program is designed to promote spending.</p>

  </div>
</div>

<div class="super-block">
<h3>Honda Therapy</h3>
<p class="no-margin">Honda Therapy takes a look at the therapudic benefits of driving Honda cars.</p>
</div><!-- END super-block -->

<div class="bitty-titty-block bdr-bottom-dash">
<figure><img loading="lazy" src="assets/images/graphics_portfolio/01HondaADT.jpg" alt="Honda ADD ad">
<figcaption><p>Attention Deficit Disorder.</p></figcaption>
</figure>
<div>
<h4>Attention Deficit Disorder</h4>
<p><b>Easy-read Instrument Panel / Central Comfort Console.
</b></p>
<p>Keep your attention on the road where it belongs with the Honda Accord&rsquo;s easy-to-read instrument panel and easy-access center console.</p>
<p><a href="assets/pdf/01HondaADT.pdf" target="_blank" rel=”noopener”>PDF</a></p>
  </div>
</div>

<div class="bitty-titty-block bdr-bottom-dash">
<figure><img loading="lazy" src="assets/images/graphics_portfolio/02HondaFly.jpg" alt="Honda Fear of flying ad">
<figcaption><p>Fear of Flying.</p></figcaption>
</figure>
<div>
<h4>Fear of Flying</h4>
<p><b>Two-stage dual airbags. • Low body-roll handling. • 25/31 MPG.</b></p>
<p>Frequent-flyer miles just doesn&rsquo;t pay when you compare the excellent gas milage and diverse safety features of the Honda Accord EX.</p>
<p><a href="assets/pdf/02HondaFlying.pdf" target="_blank" rel=”noopener”>PDF</a></p>
  </div>
</div>

<div class="bitty-titty-block bdr-bottom-dash">
<figure><img loading="lazy" src="assets/images/graphics_portfolio/03HondaClaus.jpg" alt="Honda Claustrophobia ad">
<figcaption><p>Claustrophobia</p></figcaption>
</figure>
<div>
<h4>Claustrophobia</h4>
<p><b>The roomiest interior in an award-winning midsize.</b></p>
<p>Convenient accessibility and a roomy interior mean space with style in the classy Honda Accord. It&rsquo;s time for you to hit the open road.</p>
<p><a href="assets/pdf/03HondaClaus.pdf" target="_blank" rel=”noopener”>PDF</a></p>
  </div>
</div><!-- END Honda Therapy -->
<div class="super-block">
<h3>Max Delivery</h3>
<p>Located in Tribeca, Max Delivery was one of the first New York City grocery stores with an app to order supplies for delivery to home and office. Craig Webb Art created advertising concepts for print advertising, telephone kiosks and wild posters.</p>
</div><!-- END super-block -->



<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/graphics_portfolio/02Who.jpg" alt="Iridium Telephone">
<figcaption><p>Iridium Telephone.</p></figcaption>
</figure>
<div>
<h4>Iridium Telephone</h4>
<p><b>Who do you have to know to make a call around here?
</b></p>
<p>Iridium was a $150 million world-wide ad campaign. I helped the creative team to generate creative for the campaign from start to finish.</p>
</div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/graphics_portfolio/03Food.jpg" alt="Iridium Telephone">
<figcaption><p>Iridium Telephone.</p></figcaption>
</figure>
<div>
<h4>Iridium Telephone</h4>
<p><b>The food changes, the water changes, the language changes. At least your phone number doesn't have to change.
</b></p>
<p>TEXT.</p>

  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/graphics_portfolio/05Impress.jpg" alt="Iridium Telephone">
<figcaption><p>Iridium Telephone.</p></figcaption>
</figure>
<div>
<h4>Iridium Telephone</h4>
<p><b>It will impress people. Assuming there&rsquo;s anyone around to impress.
</b></p>
<p>TEXT.</p>

  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/nbc_2013_OnTrack2Sell01b.jpg" alt="Mirren On track to sell out early">
<figcaption><p>Mirren &ndash; On track to sell out early.</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>On track to sell out early.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>


<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/2012_ThePitch_05.jpg" alt="Mirren The Pitch">
<figcaption><p>Mirren &ndash; The Pitch</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>The Pitch.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>


<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/nbc_2011_AdvancedBiz_Proj4_08.jpg" alt="Mirren Advanced New Biz Workshop">
<figcaption><p>Mirren &ndash; Advanced New Business Workshop Series</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>Advanced New Business Workshop Series.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>

<div class="big-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/CallForTopics.png" alt="Mirren Call For Topics">
<figcaption><p>Mirren &ndash; CallForTopics</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>CallForTopics.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>

<div class="big-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/2012_SeeAttending_01.jpg" alt="Mirren See Attending">
<figcaption><p>Mirren &ndash; See Attending</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>See Attending.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/2014_Mirren_4A_06.jpg" alt="Mirren in partnership with the 4A'&rsquo;'s">
<figcaption><p>Mirren in partnership with the 4A&rsquo;s</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>In partnership with the 4A&rsquo;s.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/nbc_2012_LA5_icons_p5_03.jpg" alt="Mirren making it rain in L.A.">
<figcaption><p>Mirren &ndash; Making it rain in L.A.</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>Making it rain in L.A.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>

<div class="bitty-titty-block bdr">
<figure><img loading="lazy" src="assets/images/advertising/NB2012_Call4Speakers_06.jpg" alt="Mirren Call For Speakers">
<figcaption><p>Mirren &ndash; Call for Topics</p></figcaption>
</figure>
<div>
<h4>Mirren New Business Conference</h4>
<p><b>Call for Speakers.
</b></p>
<p>Art for email advertising.</p>
  </div>
</div>



</div><!-- END flexbox-wrapper -->

<section id="skillset">
<hr class="dash" />  
<h3> Core Technologies:</h3>
<p>As a Digital Communications Designer, I am experienced with Client Collaborations, Project Development and Scope, User Experience Research and Design, Information Architecture, User Interface and Front-end Design, Prototype Development, Content Development, Graphic Design, Copywriting, Ad Concepts</p>

<h4>Creative Development:</h4>
<p>Ideation <span class="bigbull">Concept Development</span> <span class="bigbull"></span>Copywriting and Editing <span class="bigbull"></span>Brand Strategy <span class="bigbull"></span>Internet Marketing</p>

<h4>Product Management:</h4>
<p>Planning Documentation <span class="bigbull"></span>Functional Specifications <span class="bigbull"></span>Agile <span class="bigbull"></span>Scrum</p>

<h4>Graphic Design:</h4>
<p>Illustration <span class="bigbull"></span>Adobe PhotoShop &amp; Illustrator <span class="bigbull"></span>InDesign &amp; QuarkXPress <span class="bigbull"></span>Microsoft Word / Excel / PP</p>
<h4>Digital Design and Development:</h4>
<p>HTML <span class="bigbull"></span>CSS <span class="bigbull"></span>CSS for React <span class="bigbull"></span>JavaScript <span class="bigbull"></span>SASS <span class="bigbull"></span>Bootstrap <span class="bigbull"></span>SVG <span class="bigbull"></span>PHP <span class="bigbull"></span>WordPress <span class="bigbull"></span>Gulp <span class="bigbull"></span>Git <span class="bigbull">Handlebars</span> <span class="bigbull"></span>Adaptive, Responsive and Progressive Design</p>
<h4>User Experience Design:</h4>
<p>Website Architecture <span class="bigbull"></span>Design for Mobile <span class="bigbull"></span>Rapid Prototype Development <span class="bigbull"></span>HTML Templates <span class="bigbull"></span>SEO <span class="bigbull"></span>Site-maps <span class="bigbull"></span>Content-Rich User Interface Design <span class="bigbull"></span>Wireframes <span class="bigbull"></span>Storyboarding &amp; Personas <span class="bigbull"></span>Style Guides <span class="bigbull"></span>Flow Diagrams</p>

<h4>Communication:</h4>
<p><span class="bigbull"></span>Slack <span class="bigbull"></span>Trello <span class="bigbull"></span>Google Docs <span class="bigbull"></span>Github <span class="bigbull"></span>Codepen <span class="bigbull"></span>Dropbox Paper</p>
</section>

{{/inline}}

{{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

  {{#*inline "js-block"}}
    {{!--  The `includes/js01` partial is the default content, but can be overridden.  --}}
    {{> includes/scripts/js-accordion}}
  {{/inline}}

{{/layouts/cwebba-base-03}}