{{!-- pages/art-direction.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Art Direction" }}
  {{!--   The `includes/head` partial is here.  --}}
  {{#> head-block}}
        {{> includes/head }}
  {{/head-block}}
  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/tent_town_528x90x2.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-class="herobox"
      hero-src="assets/images/heropics/night-baseball.jpg"
      hero-alt="Night Baseball"
      fig-caption=""
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}

<!-- - - - - - - - [ START Art Direction HERE  ] - - - - - - - - --> 
<article class="project-content">
  <header>
    <h1>Art Direction</h1>
    <h4>Illustration and Graphic Design</h4>
  </header>
    <section class="columns02d mb1em">
    <p>My design aesthetic is brand-focused and clean. I strive to portray the essence of my client's brand to the best of my ability.</p>
      
    <p>I build simple visual vocabularies to guide visitors into the brand experience. A limited color palette helps to personify the brand.</p>
      
    <p>I like images that provoke an emotional response and are memorable. Images that don't provide easy answers create a space for conversation and dialog, allowing the viewer to fill in the story, ponder, and identify with the brand.</p>
      
    <p>I work with sumi ink, pencil, egg tempera, Photoshop and Adobe Illustrator. I know the code when it comes to HTML and CSS. </p>

    <p>As an artist, I enjoy trying new things, delving into creative journeys of scientific exploration and invention.
    </p>
  </section>
  <section class="projectthumbs">
    <ul class="cards">
      <li class="cards__item" id="05">
        <div class="card">
          <a href="graphicprojects/graphic-project_05.htm" title="Max Delivert" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
            <div class="card__image card__image--maxdelivery"></div></a>
          <div class="card__content">
            <h4 class="card__title01">Max Delivery</h4>
            <p class="card__text">Craig Webb concieved, wrote and designed this edgy brand-launch ad campaign to introduce Maxdelivery to Tribeca.</p>
          </div>
        </div>
      </li>

      <li class="cards__item" id="03">
        <div class="card">
          <a href="graphicprojects/graphic-project_03.htm" title="Iridium" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
            <div class="card__image card__image--iridium"></div></a>
          <div class="card__content">
            <h4 class="card__title01">Iridium Telephone ad campaign</h4>
            <p class="card__text">Craig Webb worked on the Iridium campaign from inception until demise, helping to coordinate the campaign.</p>
          </div>
        </div>
      </li>

      <li class="cards__item" id="06">
        <div class="card">
          <a href="graphicprojects/graphic-project_06.htm" title="Honda Accord" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
            <div class="card__image card__image--honda"></div></a>
          <div class="card__content">
            <h4 class="card__title01">Honda Accord</h4>
            <p class="card__text">Rorschach Test Drive is a diagnosis of the therapeutic benefits of driving the Honda Accord.</p>
          </div>
        </div>
      </li>

      <li class="cards__item" id="01">
        <div class="card">
          <a href="graphicprojects/graphic-project_01.htm" title="Magic Marker Illustration" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
            <div class="card__image card__image--magicmarker"></div></a>
          <div class="card__content">
            <h4 class="card__title01">Magic Marker Illustration</h4>
            <p class="card__text">Magic marker drawings are useful to knock out ad campaign ideas, for video storyboarding, to illustrate user journeys, or facilitate focus group discussions and developer conferences.</p>
          </div>
        </div>
      </li>

      <li class="cards__item" id="04">
        <div class="card">
          <a href="graphicprojects/graphic-project_04.htm" title="Illustration" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
            <div class="card__image card__image--illustration"></div></a>
          <div class="card__content">
            <h4 class="card__title01">Adobe Illustrator digital art</h4>
            <p class="card__text">Craig Webb creates original art in Adobe Illustrator suitable for print and Internet communications.</p>
          </div>
        </div>
      </li>

      <li class="cards__item" id="02">
        <div class="card">
          <a href="graphicprojects/graphic-project_02.htm" title="Doggie Vacations" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
            <div class="card__image card__image--doggievacations"></div></a>
          <div class="card__content">
            <h4 class="card__title01">Doggie Vacations Advertisment</h4>
            <p class="card__text">Doggie Vacations combines copywriting, hand-lettering and illustration to convey a savvy, loving brand.</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</article>

  {{/inline}}

 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/js01 }}
    {{/inline}}

  
{{/layouts/cwebba-base-03}}