{{!-- pages/information-architecture.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Information Architecture" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Information architecture (IA) is the art and science of organizing content for websites. Craig Webb establishes structure for websites, social media and software."
  meta-keywords="Information architecture, User experience design, navigation controls, content planning, content development, Front-end Development, Copywriting"
  meta-social-content="Craig Webb Art / Information Architecture"
  meta-url="https://craigwebbart.com/information-architecture.html"
  meta-site-name="Craig Webb Art"
  og-image="https://www.craigwebbart.com/assets/images/heropics/calligraphy-of-fourteen-compositions.jpg"
  og-image-alt="Calligraphy of Fourteen Compositions"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
{{#> head-block}}
{{> includes/head }}
{{/head-block}}

{{!--   The `includes/header` partial is here.  --}}
{{#*inline "rail-block"}}
{{> includes/rail
  rail-src="assets/images/navpics/wave.jpg"
  rail-alt="(917) 797&middot;0983"
}}
{{/inline}}

{{!-- MAIN CONTENT --}}

{{!-- Let's change the hero image for this layout. --}}
{{#*inline "hero-block"}}
{{> includes/hero
  hero-class="mast"
  hero-src="assets/images/heropics/calligraphy-of-fourteen-compositions.jpg"
  hero-alt="Calligraphy of Fourteen Compositions"
  fig-caption="Calligraphy of Fourteen Compositions, Wen Zhengming [Wen Cheng-ming]"
}}
{{/inline}}

{{!-- Let's change the content for this layout. --}}
{{#*inline "content-block"}}


<!-- - - - - - - - [ START Information Architecture HERE  ] - - - - - - - - --> 

<h2>Information Architecture</h2>
<h4>Content strategy and structural design</h4>
<p>Information architecture (IA) is the art and science of organizing content for websites.</p>

<p>The purpose of AI is to structure information to give direction and guidance to users. Page structure and labelling assists users to search and find information.</p>

<p><strong>Craig Webb Art</strong> organizes information, content, and functions to present accessible information and services. Craig Webb establishes structure for websites, social media and software.</p>

<p>Information architecture tools are content outlines, site maps, flow charts and wireframes.</p>

<p>Craig Webb advises clients to determine user's needs, and how and where to present content. Craig Webb works with clients to create original content and develop brand assets as needed.</p>

<blockquote class="big">Information Architect is a central role. Expect me to contribute to Content Development, Project Management, <span class="nowrap">Strategy and Development.</span></blockquote>
        

<section id="skillset">
<hr class="dash" />  
<h3>Information Architecture Services:</h3>
<p><span class="bigbull"> User experience design, navigation controls and content planning</p>
<p><span class="bigbull"> Research and write original content for the web</p>
<p><span class="bigbull"> Propose scalable content strategies for future growth</p>
<p><span class="bigbull"> Transform brand and business objectives into user-focused digital communications that consumers embrace</p>
<p><span class="bigbull"> Create simple visual vocabularies, that provide context and clarity</p>
<p><span class="bigbull"> Develop brand elements to express core message, mission and values</p>
<p><span class="bigbull"> Create graphic elements, branding and styles</p>
<p><span class="bigbull"> Build attractive and functional stand-alone HTML/CSS websites</p>
</section>

{{/inline}}

{{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

  {{#*inline "js-block"}}
    {{!--  The `includes/js01` partial is the default content, but can be overridden.  --}}
    {{> includes/scripts/js-accordion}}
  {{/inline}}

{{/layouts/cwebba-base-03}}