{{!-- pages/interaction-design.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Interaction Design" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art wireframes and comps are an integral part of brainstorming, product management and guiding clients through the web development process."
  meta-kewords="wireframes, comps, Adobe Illustrator, Adobe Photoshop, Figma, work-flow"
    meta-social-content="Craig Webb Art wireframes and comps are an integral part of product management and guiding clients through the web development process."
  meta-url="http://www.craigwebbart.com/comps-and-wireframes.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/wireframes/LSH_Flex_Dashboard_w__fixed_scroll_600_crop.jpg"
  og-image-alt="Flex dashboard with fixed scroll"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

  {{!--   The `includes/head` partial is here.  --}}
  {{#> head-block}}
        {{> includes/head }}
  {{/head-block}}
  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/wave.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero 
      hero-class="mast"     
      hero-src="assets/images/heropics/stop-motion_running-girl.jpg"
      hero-alt="stop-motion photograph, running girl"
      fig-caption="Girl running, stop-gap photograph"
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}

<!-- - - - - - - - [ START Interaction Design HERE  ] - - - - - - - - --> 

<article class="project-content">
  <header>
<h2>Interaction Design</h2>
  </header>
<section class="blurb-box">
<p>COPY TO COME This page displays examples of wireframes to demonstrate design thinking, work process and communication between clients, design contacts and development teams.</p>

<p>Wireframes are visual communication vehicles built to facilitate planning and development of websites and apps. Wireframes take many forms, from sketches on a napkin to black &amp; white boxes and text, to full-color comps, (comprehensive), documents.</p>

<h3>Wireframes have many uses including:</h3>
<h6 style="margin-top:0;">&bull; Communication vehicle with clients</h6>
<p>Wireframe documents help clients to focus on what content and features they want. Wireframes are black and white boxes and ugly text to avoid distracting conversations about style. We need first to know what content and features are required, to understand the scope of the project and estimate cost.</p>
<h6>&bull; Contract agreement</h6>
<p>Wireframes may be accompanied by a planning document outlining content to be created or provided. The wireframe often represents a contract agreement at the start of projects. The client is asked to sign and approve the wireframe as a representation of the project scope.</p>
<p>During the design process designers refer to the wireframe as a checklist for features and content. Wireframes may be shared with other developers who build or purchase required feature components.</p>
<h6>&bull; Design thinking and agile feedback</h6>
<p>During development, a simple ballpoint sketch is helpful to think through coding issues and layout. A modified screenshot of the working layout may also be used to quickly ask the client about how to resolve an issue.</p>
<h6>&bull; Brand Development</h6>
<p>Sometimes a client needs help to visualize how the website will represent their identity. A full-color comp including made-up text may be necessary. Comps can be deceiving, limiting and expensive. I'd rather go to code quickly but it depends on personality. In a multi-device mobile-first world, pixel-perfect design is a canard.</p>

</section>
<!-- - - - - - - - [ START Portfolio HERE  ] - - - - - - - - --> 

<div class="flexwrapstretch">

<section id="01" class="flex-albatross-card">
<figure class="img-albatross-box">
<a href="wireprojects/wire-project_01.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/Project_pg_Pop-up.jpg" alt="Shalizar Properties LTD. Project Page with pop-up image"></a>
<figcaption><p>Shalizar Properties LTD. <br>Project Page with pop-up image</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>Shalizar Properties LTD. <br>Project Proposal Wireframe<br>
</p>
</div>
</section>


<section id="02" class="flex-albatross-card">
<figure class="img-albatross-box">
<a href="wireprojects/wire-project_02.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/Randalls-Home-Page.jpg" alt="Randall&rsquo;s Auto Body"></a>
<figcaption><p>Randall&rsquo;s Auto Body</p></figcaption>
</figure>
<div class="txt-albatross-box">
<p>Randall&rsquo;s Auto Body NY<br>
  Project Proposal Wireframe.
</p>

</div>
</section>


<section id="03" class="flex-albatross-card">
<figure class="img-albatross-box">
<a href="wireprojects/wire-project_03.htm" title="Icarus Group Ironwork website page proposal" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/Icarus-Group-Ironwork-Home.jpg" alt="Icarus Group Ironwork website page proposal"></a>
<figcaption><p>Icarus Group Ironwork <br>website page proposal</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>Icarus Group Ironwork <br>Project Proposal Wireframe</p>
</div>

</section>

<section id="04" class="flex-albatross-card">
<figure class="img-albatross-box">
<a href="wireprojects/wire-project_04.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/Flex_Albatross_Fab-Four_Layout_600_crop.jpg" alt="Flex Albatross Fab-Four Layout"></a>
<figcaption><p>Flex Albatross Fab-Four Layout sketch</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>
The Flex Albatross Fab-Four Layout provides component breakpoints within a flex-wrap layout.</p>
</div>
</section>

<section id="05" class="flex-albatross-card">
<figure class="img-albatross-box">
  <a href="wireprojects/wire-project_05.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/SilverFox_Header_w__Background_600.jpg" alt="Silver Fox Header with background image"></a>
<figcaption><p>Silver Fox Renewables Header with background image</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>I needed to sketch out the pattern for the Silver Fox Header with a background image in order to code it.
</p>
</div>
</section>


<section id="06" class="flex-albatross-card">
<figure class="img-albatross-box">
  <a href="wireprojects/wire-project_06.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/LSH_Flex_Dashboard_w__fixed_scroll_600_crop.jpg" alt="Flex dashboard with fixed scrolls"></a>
<figcaption><p>Flex dashboard with fixed scrolls</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>This is a React SPA dashboard in a responsive Flex layout with inner fixed scrolls.
</p>
</div>
</section>

<section id="07" class="flex-albatross-card">
<figure class="img-albatross-box">
<a href="wireprojects/wire-project_07.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/BM_photoWebCompA01.jpg" alt="Bill Miller Photography Comp"></a>
<figcaption><p>Bill Miller Photography Comp</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>Initial comp, built with Adobe Illustrator to show concept and sell the job.
</p>
</div>
</section>

<section id="08" class="flex-albatross-card">
<figure class="img-albatross-box">
  <a href="wireprojects/wire-project_08.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/Manufacturing-Executive-Mockup04.jpg" alt="Thomas Publishing Company Comp"></a>
<figcaption><p>Thomas Publishing Company Comp</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>I built dozens of comps for Thomas Publishing to show ideas for layout and style.
</p>
</div>
</section>


<section id="09" class="flex-albatross-card">
<figure class="img-albatross-box">
  <a href="wireprojects/wire-project_09.htm" title="" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
<img src="assets/images/wireframes/CallForTopics.png" alt="Mirren Conferences, Call for Topics"></a>
<figcaption><p>Mirren, Call for Topics email art</p></figcaption>
</figure>
<div class="txt-albatross-box"><p>These are examples of production email art built in Photoshop.
</p>
</div>
</section>

  </article>

  <!-- This Block is the logic needed on the page. staged here but does not show -->
  <div id="modal1" class="modal" onclick="document.getElementById('modal1').style.display='none'; document.getElementById('iframe1').src =''" class="">
    <span onclick="document.getElementById('modal1').style.display='none'; document.getElementById('iframe1').src =''" class="">&times;</span>
    <iframe id="iframe1" class='' src="" name="iframe_modal"></iframe>
  </div>

  <section class="blurb-box"><p>If you are interested in starting a project please contact me. We can talk by phone or zoom.</p>
</section>

<blockquote class="big" style="margin-top:0.5em;"><strong>Craig Webb Art</strong> provides all aspects of New Business Communications Development including project management, creative development, copywriting and graphic design.</blockquote>
<br>

  {{/inline}}


 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}

{{/layouts/cwebba-base-03}}