{{!-- pages/live-prototypes.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Live Prototypes" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art wireframes and comps are an integral part of brainstorming, product management and guiding clients through the web development process."
  meta-kewords="wireframes, comps, Adobe Illustrator, Adobe Photoshop, Figma, work-flow"
    meta-social-content="Craig Webb Art wireframes and comps are an integral part of product management and guiding clients through the web development process."
  meta-url="http://www.craigwebbart.com/comps-and-wireframes.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/wireframes/LSH_Flex_Dashboard_w__fixed_scroll_600_crop.jpg"
  og-image-alt="Flex dashboard with fixed scroll"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
{{#> head-block}}
{{> includes/head }}
{{/head-block}}

  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/wave.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero 
      hero-class="mast"     
      hero-src="assets/images/heropics/Pan_American_flyers_and_ships.png"
      hero-alt="Pan American flyers and ships"
      fig-caption="Pan American flyers and ships"
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}

        <!-- - - - - - - - [ START Live Prototypes HERE  ] - - - - - - - - --> 
        
        <article class="project-content">
          <header>
        <h2>Live Prototypes</h2>
          </header>
    <section class="columns02d" style="margin-bottom:1.5em"><!-- columns02d-->
      <p>Live prototypes solve a problem, test options and gain design clarity. Prototypes help to determine style or functions, and to learn current design techniques. Prototypes show proof-of-concept to a client or to another developer. 
      </p>

      <p>Prototypes range from basic building blocks to full-functioning components. </p>
      <p>Prototypes are for websites, email, WordPress, JavaScript functions, and client comps.</p>

      <p>Sometimes prototypes look ugly, but functions are refined and incorporated into larger projects. Prototype styles often become part of a library of reusable patterns and components.
      </p>

      <p>Prototypes are an artifact of design thinking with stories to tell. 
      </p>
        </section>

        <!-- - - - - - - - [ START Portfolio HERE  ] - - - - - - - - --> 
        
  <div class="flexbox-wrapper">

    <div class="big-block card bdr ">
    <a href="navigation-prototypes.html">
      <h3>Navigation</h3>
    </a>
      <p>Navigation is the set of patterns which require the most research and exploration.</p>

      <p>Examples of navigation get studied for each website to determine what it needs to do and how it should look.
      </p>

      <p>Navigation patterns change over time. From using GIFS and hover effects, to using floats, Bootstrap and Flexbox. </p>

      <p>There are many ways to approach the way users get from here to there.</p>
    </div>
    <div class="big-block card bdr ">
    <a href="responsive-design-prototypes.html">
      <h3>Responsive Design</h3>
    </a>
      <p>Responsive design patterns control how content flows into mobile and desktop formats.</p>

      <p>Responsive design embraces modern design elements once referred to as HTML5 and CSS3. Responsive design can use a thing called media queries to control design but not always.</p>

      <p>Over time, new ways to control how content appears to users are added and implemented.</p>
    </div>
    <div class="big-block card bdr ">
      <a href="card-prototypes.html">
        <h3>Cards</h3>
      </a>
      <p>Cards are singular components that contain distinct segments of content. </p>

      <p>Cards set each item apart and direct the user to focus on a goal.</p>

      <p>Cards are useful in mobile settings where limited space requires succinct chunks of content. </p>

      <p>Cards are also useful to direct actions for content functions such as shopping or other data entry.</p>
    </div>
    <div class="big-block card bdr ">
      <a href="inner-component-prototypes.html">
        <h3>Inner Components</h3>
      </a>
      <p>The ability to control layout within a component of the larger layout can be difficult.</p>

      <p>Certain functions such as tables can be hard to lay out on both desktop and mobile browsers. Navigation, forms and other layout components need to reformat to fit a given view.</p>

      <p>These prototypes explore many new solutions to design layout now available in browsers.</p>
    </div>
    <div class="big-block card bdr ">
      <a href="sticky-footer-prototypes.html">
        <h3>Sticky Footers</h3>
      </a>
      <p>Sticky footers are a small problem that have had many solutions over time. </p>

      <p>"Sticky footers" is a term that means to keep the footer "stuck" at the base of the page. Because of CSS, this has not always been easy.</p>

      <p>Recent additions to CSS help to make this small visual function easier.</p>
    </div>
    <div class="big-block card bdr ">
      <a href="modals-and-iframe-prototypes.html">
        <h3>Modals, iframes</h3>
      </a>
      <p>Modals and iframes are content component structures that serve to set content in a separate context. They have certain desirable features as well as drawbacks.</p>

      <p>In some cases it is necessary or desirable to remove the user to a separate space to focus on a task.</p>
    </div>

    </div>
  </article>
        
        <blockquote class="big" style="margin-top:0.5em;">If you are interested in starting a project please contact me. We can talk by phone or zoom.</blockquote>
        <br>

  {{/inline}}


 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}

{{/layouts/cwebba-base-03}}