{{!-- pages/maxdelivery.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Max Delivery" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art designed this headline-driven brand identity/new business launch campaign for Max Delivery. The campaign included outdoor advertising on telephone kiosks and wild posters; and NYC newspaper advertising published in local SoHo and Tribeca newspapers."
  meta-kewords="newspaper advertising, logo art, graphic design, print design, attention-grabbing headlines, telephone kiosk advertising, outdoor advertising, wild posters, brand identity, copy writing, new-business strategic advertising campaigns, Advertising Account Manager for New Business, Request for proposals, Creative brief, project management and production services, vendor management for printing services, brand design, 
Craig Webb Art, Craig Webb design, graphic design for print media, graphic design for Internet media, copywriting, content development, brand development, creative for advertising, marketing research, business communications design and development,"
  meta-social-content="Craig Webb provides graphic design and art direction for print and online communications."
  meta-url="https://craigwebbart.com/maxdelivery.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/copywriting_portfolio/craigs_mdads.jpg"
  og-image-alt="Max Delivery"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
{{!--
  {{#*inline "head-block"}}
  <link rel="stylesheet" type="text/css" href="css/vanilla_lightbox_08.css"> 
  {{/inline}} 
  --}}
  
  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/change.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
{{!--  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-class="herobox"
      hero-src="assets/images/heropics/Dinner-for-Threshers-1934_Grant-Wood.jpeg"
      hero-alt="Dinner for Threshers, 1934 by Grant Wood"
      fig-caption="Dinner for Threshers, 1934 by Grant Wood"
    }}
  {{/inline}}
 --}}
    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}

{{!-- - - - - - - - [ START GRAPHIC DESIGN HERE  ] - - - - - - - - --}} 

<article class="project-content">
  <header>
<h1>Max Delivery</h1>
<h4>Launch Ads &ndash; Outdoor and Print</h4>
  </header>

    <section class="projectthumbs">
{{!-- - - - - - - - [ START Portfolio HERE  ] - - - - - - - - --}} 

<div class="mcent herobox mw670">
<p><strong>Concept:</strong> An edgy ad campaign to introduce Maxdelivery.com&rsquo;s  <br />online convenience delivery service to lower Manhattan. <br />
This launch campaign included Phone Kiosks, Wild Postings and Newpaper Advertising.<br />
<span class="concept">Concept | Design | Copy &ndash; Craig Webb
</span></p>
</div>

<div class="mcent herobox mw670">
<figure class="hero-art mw670">
<img src="assets/images/copywriting_portfolio/craigs_mdads.jpg" class="border" alt="Craig Webb, Art Director with Wild Poster Ads designed for Max Delivery" />
<figcaption><p>Craig Webb with the Wild Posters.</p></figcaption>
</figure>
</div>


<section class="flex-box">
<div class="flex-twins">
<figure class="">
<img src="assets/images/copywriting_portfolio/01md_plans.jpg" class="border" alt="Plans change fast. Max Delivers faster." /><br />
<figcaption><p>Plans change fast. Max Delivers faster.</p></figcaption>
</figure>
</div>

<div class="flex-twins">
<figure class="">
<img src="assets/images/copywriting_portfolio/06md_moments.jpg" class="border" alt="Moments to shop. Instant delivery. The balance of your time is returned to you." /><br />
<figcaption><p>Moments to shop. Instant delivery. The balance of your time is returned to you.</p></figcaption>
</figure>
</div>
</section>

<section class="flex-box">
<div class="flex-twins">
<figure class="">
<img src="assets/images/copywriting_portfolio/04md_lickity.jpg" class="border" alt="Delivered lickity-click." />
<figcaption class="tcent"><p>Delivered lickity-click.
</p></figcaption>
</figure>
</div>

<div class="flex-twins">
<figure class="">
<img src="assets/images/copywriting_portfolio/02md_thinkfast.jpg" class="border" alt="Think fast." />
<figcaption class="tcent"><p>Think fast.
</p></figcaption>
</figure>
</div>
</section>

<section class="flex-box">
<div class="flex-twins" style="max-width:620px;">
<figure class="">
<img src="assets/images/copywriting_portfolio/05md_getit.jpg" class="border" alt="You just don&rsquo;t get it." />
<figcaption><p>You just don&rsquo;t get it.</p></figcaption>
</figure>
</div>

<div class="mcent mw306">
<figure class="mw306">
<img src="assets/images/copywriting_portfolio/mdtribtribbnwsml.gif" class="border" alt="Black &amp; White Advertisement published in the Tibeca Tribune for Max Delivery" />
<figcaption><p>Black and White Ad published <br />in the <i>Tribeca Tribune</i>.</p></figcaption>
</figure>
</div>
</section>

      </section>
  </article>


  {{/inline}}

 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}

  
{{/layouts/cwebba-base-03}}