{{!-- pages/maxdelivery.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Max Delivery" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art helped advertise the re-launch of Mighty Map's flagship real estate search software as a web-based program. Refining Mighty Map's message, Craig Webb Art designed direct mail and magazine advertising, reintroducing MightyMap.com to NYC RE professionals. Craig Webb also wrote copy for the website including product descriptions incorporated into the mightymap.com website tour."
  meta-kewords="advertising, logo art, graphic design, web design, photography, newspaper design, magazine advertising, art direction, strategic brand identity campaign, copy writing, press releases, production management, project planning and print media placement services, website marketing copy, website landing pages, collateral, direct mail advertising, copywriting for direct mail, creative ad design, Craig Webb Art, Craig Webb design, graphic design for print media, graphic design for Internet media, copywriting, content development, brand development, creative for advertising, marketing research, business communications design and development,"
  meta-social-content="Craig Webb Art provides copywriting, identity and graphic design for print and internet marketing. We work with leading brands to create outstanding interactive experiences."
  meta-url="https://craigwebbart.com/mightymap.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/copywriting_portfolio/mm_chgthink_1.jpg"
  og-image-alt="Change the way you think"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
{{!--
  {{#*inline "head-block"}}
  <link rel="stylesheet" type="text/css" href="css/vanilla_lightbox_08.css"> 
  {{/inline}} 
  --}}
  
  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/mightym.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
{{!--  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-class="herobox"
      hero-src="assets/images/heropics/Dinner-for-Threshers-1934_Grant-Wood.jpeg"
      hero-alt="Dinner for Threshers, 1934 by Grant Wood"
      fig-caption="Dinner for Threshers, 1934 by Grant Wood"
    }}
  {{/inline}}
 --}}
    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}

{{!-- - - - - - - - [ START MIGHTY MAP HERE  ] - - - - - - - - --}} 

<div class="main-art-content">


<h2>MightyMap.com</h2>
<h4>Product Re-Launch /Identity &ndash; Print and web</h4>
<br />
<div class="mcent herobox mw670">
<p><strong>Concept:</strong> Introduce MightyMap.com, a web-based  real estate data-mapping service, to Real Estate professionals and business leaders.</p><p>This marketing campaign required copy and design for brand development, direct mail, magazine and newspaper advertising, and the MightyMap.com website.<br />
<span class="concept">Concept | Design | Copy &ndash; Craig Webb
</span></p>
</div>

<div class="mcent mw600">
<figure class="hero-art mw600">
<img src="assets/images/copywriting_portfolio/mm_join_mailer_pg1.jpg" class="border" alt="Join Mailer for MightyMap.com" />
<figcaption><p>&ldquo;Join&rdquo; Direct Mail for MightyMap.com.</p></figcaption>
</figure>
</div>

<div class="mcent mw670">
<figure class="hero-art mw670">
<img src="assets/images/copywriting_portfolio/mm_landpg_combo.gif" alt="Landing web-pages for MightyMap.com" />
<figcaption><p>MightyMap.com website landing pages tied to direct-mail marketing initiatives.</p></figcaption>
</figure>
</div>


<div class="mcent mw670">
<figure class="hero-art mw670">
<img src="assets/images/copywriting_portfolio/mm_chgthink_1.jpg" class="border" alt="Change the way you think mailer for MightyMap.com" />
<figcaption><p>&ldquo;Change The Way You Think&rdquo; Direct Mail.</p></figcaption>
</figure>
</div>


<div class="mcent mw670">
<figure class="hero-art mw670">
<img src="assets/images/copywriting_portfolio/mm_rental_mailerpg1.jpg" class="border" alt="Squarefeet.com Real Estate Mailer" />
<figcaption><p>&ldquo;Now Leasing&rdquo; Direct Mail for Squarefeet.com.</p></figcaption>
</figure>
</div>

<div class="mcent mw600">
<figure class="hero-art mw600">
<img src="assets/images/copywriting_portfolio/mm_comquar.jpg" alt="NYT Commercial Quarterly ad for MightyMap.com" />
<figcaption><p>&ldquo;Join/squarefeet.com&rdquo; Advertisment published in The New York Times <i>Commercial Quarterly</i> Magazine.</p></figcaption>
</figure>
</div>



<section class="flex-box">

<div class="flex-twins">
<figure class="w306 mcent">
<img src="assets/images/copywriting_portfolio/mm_real_deal.jpg" alt="Real Deal Magazine Join Ad for MightyMap.com" /><br />
<figcaption><p>&ldquo;Join&rdquo; Advertisment published in <i>The Real Deal</i> Magazine.</p></figcaption>
</figure>
</div>

<div class="flex-twins">
<figure class="w306 mcent">
<img src="assets/images/copywriting_portfolio/mm_re_weekly.jpg" alt="Real Estate Weekly Join Ad for MightyMap.com" /><br />
<figcaption><p>&ldquo;Join&rdquo; Advertisment published in <i>Real Estate Weekly</i>.</p></figcaption>
</figure>
<br />

<div class="flex-twins mcent">
<figure class="mcent mw277">
<img src="assets/images/copywriting_portfolio/mm_nytimes_ad.jpg" class="border" alt="New York Times Ad for MightyMap.com" /><br />
<figcaption><p>1-inch ad published weekly in the  Real Estate section of <i>The New York Times</i>.</p></figcaption>
</figure>
<br />

<figure class="mcent mw277">
<img src="assets/images/copywriting_portfolio/mm_logo_v2rgb.gif" class="border" alt="Mighty Map Logo" /><br />
<figcaption><p>Brand Identity including copy used for the <a href="http://www.mightymap.com/tour_centralized_data.html" target="_">&ldquo;Take the Tour&rdquo;</a> section of the MightyMap.com website. <br />Go ahead, take the tour. <br />Mighty Map will change the way <br />you think about New York.</p></figcaption>
</figure>
</div>

</div>
</section>



</div>{{!-- /end #content --}}


  {{/inline}}

 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}

  
{{/layouts/cwebba-base-03}}