{{!-- pages/navigation-prototypes.hbs --}}

{{#> layouts/cwebba-base-05 title="Navigation Prototypes" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb is an Artist and Graphic Designer, content writer and Front-end website designer who helps clients to create their brand presence online."
  meta-kewords="Artist, graphic designer, copywriter, content developer, website designer, web development engineer"
  meta-social-content="Craig Webb is an artist, content developer and web designer who helps clients to create their brand presence online."
  meta-url="http://craigwebbart.com/portfolio.html"
  meta-site-name="Craig Webb Art"
  og-image="http://craigwebbart.com/assets/images/heropics/hasegawa-tohaku-maple.jpg"
  og-image-alt="Hasegawa Tōhaku: Maple and plants, c. 1593"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
  {{#*inline "head-block"}}
<link rel="stylesheet" type="text/css" href="css/prototype-theater.css">
  {{/inline}}

{{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/math.jpg"
      rail-alt="(917) 797&middot;0983"
      rail-width="278"
      rail-height="36"
    }}
  {{/inline}}


{{!-- MAIN prototype-parent Starts here HERE. --}}


  {{#*inline "tagline-header-block"}}
    {{> includes/tagline-header
      page-title="Navigation Prototypes"
    }}
  {{/inline}}

  {{#*inline "prototype-list-nav-block"}}
        {{!-- Prototype List Navigation goes here. --}}
<!--      ##HERE!!!   -->
<div class="div2 view-alert">
<p><em>View links in the theater view or open links in a new tab to examine closely</em></p>
</div><!-- END div2 -->
<section class="div3 menu-wrap">
  <nav class="prototype-list">
  <ul id="proto-list">
<li><div><a href="Navigation_Prototypes/randallsautobodyny_detail-wax.html" id="01" data-title="Two-row static navigation" data-cutline="On this pre-HTML5, pre-mobile static website navigation all links are available on two rows of links." target="page" rel="noopener noreferrer">Two-row static navigation</a></div></li>

<li><div><a href="Navigation_Prototypes/shalizar_menu.html" id="02" data-title="CSS3 Navigation with IE6 hacks" data-cutline="This early HTML5/CSS3 navigation explored the then-new css declarations such as radial borders and gradients. The drop-up navigation employs hacks to work with IE6 browsers. The addition of a PIE.htc polyfill script provided CSS3 support for IE." target="page" rel="noopener noreferrer">CSS3 Navigation with IE6 hacks</a></div></li>

<li><div><a href="Navigation_Prototypes/GA_index.html" id="03" data-title="Desktop/Mobile JQuery drop-down navigation" data-cutline="This navigation employs JQuery and JavaScript to control navigation positioning for three different widths, with a menu button for mobile devices." target="page" rel="noopener noreferrer">Desktop/Mobile JQuery drop-down navigation</a></div></li>

<li><div><a href="Navigation_Prototypes/Sitepoint_Horz_Distrib_list.html" id="04" data-title="Fluid Navigation Prototype" data-cutline="As responsive design became prominent it became important to learn to control navigation link positioning. This experiment is concerned with edge padding for inline-block elements." target="page" rel="noopener noreferrer">Fluid Navigation Prototype</a></div></li>

<li><div><a href="Navigation_Prototypes/Inline-Block_Fuid_Navigation_Pattern.html" id="05" data-title="Inline-block Navigation Prototype" data-cutline="This exploration of fluid navigation for responsive design focuses on the use of inline-block declarations to distribute links." target="page" rel="noopener noreferrer">Fluid Navigation Prototype</a></div></li>

<li><div><a href="Navigation_Prototypes/Justified_Centered_containers04.html" id="06" data-title="Justified and Centered Navigation Links" data-cutline="This exploration of fluid navigation for responsive design tests using a justify declaration to distribute inline-block navigation links." target="page" rel="noopener noreferrer">Justified &amp; Centered Navigation Links</a></div></li>

<li><div><a href="Navigation_Prototypes/Osvaldas_Valutis_Dropdown_05.html" id="07" data-title="JQuery drop-down navigation for Desktop/Mobile" data-cutline="A fluid navigation with drop-down links and a hamburger-menu button for mobile devices controlled by JQuery." target="page">JQuery drop-down navigation for Desktop/Mobile</a></div></li>

<li><div><a href="Navigation_Prototypes/BS_open-drop_sub-menu_pattern_12.html" id="08" data-title="Modified Bootstrap drop-down / mobile first menu for WordPress" data-cutline="This Bootstrap navigation used a Navwalker plugin function to work with WordPress. I wanted the second-level of links to appear in a row for desktop view and as a drop-down menu for mobile." target="page" rel="noopener noreferrer">Modified Bootstrap drop-down for WordPress</a></div></li>

<li><div><a href="Navigation_Prototypes/Icarus_Group_TopNav_Prototype_02.html" id="09" data-title="Modified Bootstrap-3 mobile-first drop-down menu" data-cutline="This navigation adds social media icons, appearing as a second row for desktop and as a drop-down list for mobile. The footer navigaton is designed to break from six links to two rows of three links." target="page" rel="noopener noreferrer">Modified Bootstrap drop-down menu</a></div></li>

<li><div><a href="Navigation_Prototypes/BS_navbar_lateral_slide_menu_02.html" id="10" data-title="Bootstrap lateral side menu" data-cutline="This experiment tests the Bootstrap pattern to open and close a side menu for mobile views. The menu opens as a top navigation for desktop views." target="page" rel="noopener noreferrer">Bootstrap lateral side menu</a></div></li>
<li><div><a href="live-prototypes.html" rel="noopener noreferrer" class="fnt400">&hookleftarrow; Back to Prototypes main page</a></div></li>

    </ul>
  </nav>
</section><!-- END div3 -->
{{/inline}}

{{!-- END OF Prototype List Navigation HERE. --}}


  {{#*inline "prototypes-theater-block"}}
    {{> includes/prototypes-theater
      first-link="Navigation_Prototypes/randallsautobodyny_detail-wax.htm"
    }}
  {{/inline}}


        {{#> creative-consulting-nav-block }}
        {{> includes/creative-consulting-nav }}
        {{!-- This should be a standard template. --}}
        {{/creative-consulting-nav-block }}

        {{#> blockquote-workbook-block}}
        {{> includes/blockquote-workbook }}
        {{!-- This should be a standard template. --}}
        {{/blockquote-workbook-block}}

{{!-- MAIN prototype-parent ENDS here here. --}}



{{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/js-iframe-theater }}
    {{/inline}}
  
{{/layouts/cwebba-base-05}}