{{!-- pages/portfolio.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Art Direction" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb is an Artist and Graphic Designer, content writer and Front-end website designer who helps clients to create their brand presence online."
  meta-kewords="Artist, graphic designer, copywriter, content developer, website designer, web development engineer"
  meta-social-content="Craig Webb is an artist, content developer and web designer who helps clients to create their brand presence online."
  meta-url="http://craigwebbart.com/portfolio.html"
  meta-site-name="Craig Webb Art"
  og-image="http://craigwebbart.com/assets/images/heropics/hasegawa-tohaku-maple.jpg"
  og-image-alt="Hasegawa Tōhaku: Maple and plants, c. 1593"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

  {{!--   The `includes/head` partial is here.  --}}
  {{#> head-block}}
        {{> includes/head }}
  {{/head-block}}
  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/math.jpg"
      rail-alt="(917) 797&middot;0983"
      rail-width="278"
      rail-height="36"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero 
      hero-class="mast"     
      hero-src="assets/images/heropics/hasegawa-tohaku-maple.jpg"
      hero-alt="Hasegawa Tōhaku: Maple and plants"
      fig-caption="Hasegawa Tōhaku: Maple and plants, c. 1593, ink, color and gold on paper, 174x139 cm. Chishaku-ji, Kioto"
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}


<!-- - - - - - - - [ START Services HERE  ] - - - - - - - - --> 
<article class="flexbox-wrapper" id="portfolio">
<section>
<h1>Triple-threat professional designer</h1>

<p> What does it mean to be a “triple threat”?</p>

<p>A <strong>triple threat</strong> is a person who is adept in three different fields of activity.</p>

<p><ul>
<li>In a football game, a football player adept at running, kicking, and passing is a triple threat.</li>
<li>A triple threat in the theater is someone who can sing, dance, and act.</li>
</ul></p>

<p>I have the ability to draw, write, and code HTML/CSS. I&rsquo;m an artist, a writer and a web developer, with the ability to think verbally, to think pictorially, and to think in code. I am a triple-threat professional designer.</p>

<p class="last">Mastering any craft requires focus. Mastering multiple skills requires persistence and dedication, practicing each craft and being strategic with an approach.</p>
</section>

<section>
  <div class="super-block">
  <figure class="clipped-vertical-image">
    <img src="assets/images/content/SelfPortrait_Ashirt.jpg" alt="Self-portrait with A-shirt, sumi ink on cardboard">
    <figcaption><p>Self-portrait with A-shirt, sumi ink on cardboard</p></figcaption>
</figure>
<div>
<h3 >Artist and Graphic Designer</h3>

<p>Making art or graphics is a sport. Practicing visual thinking changes the brain and how one thinks and communicates.</p>

<p>I draw and paint, create art and graphics. I like to work with materials including sumi ink, egg tempera and drawing. I have expert Adobe Photoshop and Adobe Illustrator software skills.</p>

<p>I have an arsenal of techniques and skills. I practice spontaneous and improvisational painting to push boundaries and transcend these techniques. Sometimes great ideas pop out.</p>

<p>I&rsquo;ve learned to recognize strong ideas. Mastery requires research. I look for visual clues, to build a visual vocabulary, think about chemistry, composition, and inventing a theme.</p>

<br>
</div>
</div>
</section>


<section>
  <div class="super-block">
  <figure class="clipped-vertical-image">
    <img class="bdr0" src="assets/images/content/Healthcare_Sunami01.jpg" alt="The big wave presentation illustration">
    <figcaption><p>Healthcare marketing presentation sketch</p></figcaption>
  </figure>

<div>
<h3>Content Writer</h3>

<p>The Big Idea. In advertising, creatives speak of conceiving ad campaigns that "have legs", meaning to find an idea that can be varied and repeated for many ads in a campaign that brands a product or service for years. Finding big ideas takes work. Big ideas have great value.</p>

<p>I write daily. Writing consistently is an improvisational discipline and a great way to encounter big ideas. Ideas and insights tumble out often.</p>

<p>I learned the skill of inventing interesting headlines with concepts that had the aforementioned "legs" while working in an ad agency.</p>

<p>Clients often start a new business with no marketing assets. So in addition to building websites I research and write content. I use my experience in advertising to write focused, interesting content.</p>

<p>By conducting marketing research I amass what is known as "searchable phrases", meaning searchable on Google or Bing. Many clients have enjoyed page-one placement on Google search due to the content that I wrote.</p>

<p>Other experience includes writing for a client as a copywriter/ghostwriter. I created new-business advertising. I served as Editor for a blog. My job was to write articles, edit, and entice and support other people to write articles.</p>
</div>
</div>
</section>

<section>
  <div class="super-block">
  <figure class="clipped-vertical-image">
    <img class="bdr0" src="assets/images/content/Screen-Shot16-45.png" alt="Holy Albatross Abuse">
    <figcaption><p>Fab-four layout / Holy Albatross pattern mashup</p></figcaption>
  </figure>

<div>
<h3>Web Designer</h3>

<p>Learning current best practices to design websites and web applications is an ever-changing journey of research, testing, failing, and discovery.</p>

<p>I started learning web design in 2005. At the time CSS was a new thing. I studied the <a href="http://www.csszengarden.com/">CSS Zen Garden</a> and many tutorials.</p>

<p>I like learning new skills and methods. I continued to learn web design during the introduction of HTML5 and CSS3 and JavaScript. I learned mobile-first responsive design. I learned SASS and how to build WordPress websites from scratch.</p>

<p>I strive to make my code be well written. I want to write semantic, assessable code. Just like making art or writing, the big Idea is what I reach for with web design. I want to create websites that attract viewers.</p>

</div>
</div>
</section>

<p>Overall, I&rsquo;d say that my best quality is being curious, inventive, exploring. I am a triple-threat professional designer.</p>
</article>

  {{/inline}}

 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}
  
{{/layouts/cwebba-base-03}}