{{!-- pages/web_design.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Front-end Development" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art helps clients to build their online presence by offering a combination of custom front-end web development and content creation including original written content and graphic design."
  meta-kewords="Web design, Front-end development, website engineering, HTML, CSS, SASS, JavaScript"
  meta-social-content="Craig Webb Art helps clients to build their online presence by offering a combination of custom front-end web development and content creation including original written content and graphic design."
  meta-url="http://www.craigwebbart.com/web-design.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/heropics/swim528x90_x2Banner.jpg"
  og-image-alt="Developer Conference"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

  {{!--   The `includes/head` partial is here.  --}}
  {{#> head-block}}
        {{> includes/head }}
  {{/head-block}}
  
  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/wave.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero 
      hero-class="herobox"     
      hero-src="assets/images/heropics/github-commit.png"
      hero-alt="Github Commit"
      fig-caption=""
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}
<h2>Internet and Digital Media</h2>

<article class="project-content">
  <header>
    <h3>Recent Projects</h3>
<section class="blurb-box">
<p>Combining development of compelling search-optimized content with progressively enhanced responsive architectures, <strong>Craig&nbsp;Webb&nbsp;Art</strong> builds expertly-crafted mobile-first websites that focus on usability while exceeding business objectives.</p>
</section>
  </header>
  <section class="projectthumbs">
<!-- - - - - - - - [ START Portfolio HERE  ] - - - - - - - - --> 
<ul class="cards">
  <li class="cards__item" id="01">
    <div class="card">
      <a href="webprojects/web-project_01.htm" title="Lawson Galleries" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--lawson-biotech"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Lawson Galleries</h4>
        <p class="card__text">Lawson Galleries needed a way to create buzz for their California-based fine art gallery and represent their stable of artists. Craig Webb met with the client to sketch layout ideas and created an information architecture for blog content.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="02">
    <div class="card">
      <a href="webprojects/web-project_02.htm" title="Silver Fox Renewables LLC" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--silver-fox"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Silver Fox Renewables</h4>
        <p class="card__text">California solar energy design and installation company Silver Fox Renewables LLC needed a fresh look for their business. Craig Webb researched the solar energy business and worked with the client to write original, searchable content.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="03">
    <div class="card">
     <a href="webprojects/web-project_03.htm" title="Icarus Group Ironwork" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
      <div class="card__image card__image--icarus-group"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Icarus Group Ironwork</h4>
        <p class="card__text">Icarus Group Ironwork offers a wide range of custom manufactured products. Craig Webb Art designed the website and wrote original content that put Icarus Group Ironwork on Google&rsquo;s 1st page for four years, using natural search.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="04">
    <div class="card">
     <a href="webprojects/web-project_04.htm" title="Care Hand Off" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--care-handoff"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Care Hand Off</h4>
        <p class="card__text">xVenturesGroup needed to conduct market-testing and build interest in a health-care app under development. Craig Webb Art worked with the client to brainstorm marketing ideas, create a brand style, marketing materials, live-code prototypes and built the initial website.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="05">
    <div class="card">
     <a href="webprojects/web-project_05.htm" title="Shalizar Properties Ltd." onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--shalizar"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Shalizar Properties Ltd.</h4>
        <p class="card__text">Shalizar Properties LTD. needed to advertise high-end condominiums and real estate investment opportunities in Dhaka, Bangladesh. Craig Webb Art designed and built a clean, sophisticated website presentation utilizing all of the new eye-candy of very-early HTML5/CSS3.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="06">
    <div class="card">
     <a href="webprojects/web-project_06.htm" title="Mural Mural on the Walls" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--mural-mural"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Mural Mural on the Walls</h4>
        <p class="card__text">Mural Mural on the Walls offers a unique community art education program. Craig Webb wrote original website content to promote the client&rsquo;s services and built a website architecture to display photographs from the program.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="07">
    <div class="card">
     <a href="webprojects/web-project_07.htm" title="Randalls Auto Body" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--randalls"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Randall&rsquo;s Auto Body</h4>
        <p class="card__text">Randall&rsquo;s Auto Body services hi-end automotive vehicles for exacting clients. Craig Webb Art designed and built a website to feature Randall’s full range of services. Original website content lands Randall&rsquo;s Auto Body on Page One of Google for ten years and counting.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="08">
    <div class="card">
     <a href="webprojects/web-project_08.htm" title="Bill Miller Photography" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--bill-miller"></div></a>
      <div class="card__content">
        <h4 class="card__title02">Bill Miller Photography</h4>
        <p class="card__text">NYC-based Real Estate photographer Bill Miller Photography needed a new website portfolio. Craig Webb Art proposed a website architecture with multiple photo-galleries that include written content to add interest and build SEO.</p>
      </div>
    </div>
  </li>
  <li class="cards__item" id="12">
    <div class="card">
      <a href="webprojects/web-project_12.htm" title="TB1 Associates LLC" onclick="document.getElementById('modal1').style.display='block'" target="iframe_modal">
        <div class="card__image card__image--tb1associates"></div></a>
      <div class="card__content">
        <h4 class="card__title02">TB1 Associates LLC</h4>
        <p class="card__text">NYC-based private investigators TB1 Associates LLC needed a website to launch a business. Craig Webb Art worked with the client to outline the services that they offer and built a simple website that echoed the client’s branding. </p>
      </div>
    </div>
  </li>
</ul>
      </section>
  </article>

  <!-- This Block is the logic needed on the page. staged here but does not show -->
  <div id="modal1" class="modal" onclick="document.getElementById('modal1').style.display='none'; document.getElementById('iframe1').src =''" class="">
    <span onclick="document.getElementById('modal1').style.display='none'; document.getElementById('iframe1').src =''" class="">&times;</span>
    <iframe id="iframe1" class='' src="" name="iframe_modal"></iframe>
  </div>

<h4>Internet Media and&nbsp;Digital&nbsp;Development</h4>
<div class="columns02d">
<p>Great Internet communications make your business thrive like no other marketing medium today.</p>
<p>Modern websites are composed of a combination of search-optimized content, graphics, and a code layer progressively enhanced for display on browsers, mobile devices and tablets.</p>
<p>Additional dynamic functionality and integration with third-party cloud-based services is the norm.</p>
<p><strong>Craig Webb Art</strong> designs and builds online communications, creates original content and brand identity.</p>
<p>We provide a full range of services, collaborate, or act as part of your development team.</p>
<p>Each website is designed to meet specific needs. Contact <strong>Craig Webb Art</strong> to build a powerful world-wide presence.</p>
</div><!-- END second-content -->

<blockquote class="big" style="margin-top:0.5em;"><strong>Craig Webb Art</strong> provides all aspects of New Business Communications Development including project management, creative development, copywriting and graphic design.</blockquote>
<br>

  {{/inline}}


 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}

{{/layouts/cwebba-base-03}}